#emergency_contact_form {
  padding: 30px 0 10px;
  display: none;
  label {
    line-height: 38px;
  }
  .form-group {
    width: 100%;
  }
  .form-control {
    max-width: 400px;
    width: 100%;
  }
}
