/*********************** breadcrumbs *****************************/

.breadcrumbs {
  width: 100%;
  height: 70px;
  background-color: $middle_gray;
  line-height: 70px;
  .wrapp-bread {
    width: 415px;
    margin: 0 auto;
    overflow: hidden;
    @media screen and (max-width: 1030px) {
      width: auto;
    }
  }
  ul {
    @media screen and (max-width: 1030px) {
      text-align: center;
    }
    li {
      float: left;
      @media screen and (max-width: 1030px) {
        float: none;
        display: inline-block;
      }
      padding: 0 20px 0 20px;
      position: relative;
      opacity: 0.7;
      a {
        font-family: 'MyriadPro-Regular', sans-serif;
        font-size: 12px;
      }
      &:hover {
        opacity: 1;
      }
      &:after {
        width: 4px;
        height: 8px;
        content: "";
        position: absolute;
        top: 32px;
        right: -3px;
        background: url(../images/brarr.png);
      }
    }
  }
  .bread {
    color: #fff
  }
}





