@import "variables.scss";
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  background: #fff;
  color: #000;
  font-family: 'Roboto', Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  overflow-x: hidden;
}
div, p, input, button, form, a {
  box-sizing: border-box;
  outline: none;
}
h1, h2, h3, h4, h5, h6, p, img, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: $middle_red;
}
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
ul, li {
  display: block;
  padding: 0px;
  margin: 0px;
}
h1 {
  font-family: 'Roboto';
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
h2 {
  font-family: 'Roboto';
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
h3 {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
.btn {
  padding: 10px 50px;
  border-radius: 3px;
  //margin: 20px 10px 0 0;
  margin: 0 10px 0 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #c0253d;
  font-weight: 600;
}
.btn-dark {
  background-color: #232b38;
}
.btn__yellow {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  width: 191px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  background: #f9eb24;
  outline: none;
  -moz-transition: all 0.25s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  &:hover {
    outline: none;
    background: #e1d407;
    color: #000;
  }
  &:focus, &:active, &:visited {
    outline: none;
    color: #000;
  }
  &:active {
    outline: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .7);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .7);
  }
}
.btn_transperent {
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1em;
  -moz-transition: all 0.25s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  span {
    font-weight: 200;
    font-size: 12px;
  }
  &:hover {
    color: #fff;
  }
  &:active {
    outline: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .7);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .7);
  }
}
