@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot?v=2.0.3");
  src: url("../fonts/Roboto-Light.eot?v=2.0.3#iefix") format("embedded-opentype"),
   url("../fonts/Roboto-Light.ttf?v=2.0.3") format("truetype"), 
   url("../fonts/Roboto-Light.woff?v=2.0.3") format("woff"), 
   url("../fonts/Roboto-Light.svg?v=2.0.3#Ionicons") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.eot");
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), 
   url("/fonts/Roboto-Regular.woff") format("woff"), 
   url("/fonts/Roboto-Regular.ttf") format("truetype"), 
   url("/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"), 
   url("/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.eot?v=2.0.3");
  src: url("/fonts/Roboto-Medium.eot?v=2.0.3#iefix") format("embedded-opentype"), 
   url("/fonts/Roboto-Medium.ttf?v=2.0.3") format("truetype"), 
   url("/fonts/Roboto-Medium.woff?v=2.0.3") format("woff"), 
   url("/fonts/Roboto-Medium.svg?v=2.0.3#Ionicons") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("/fonts/MyriadPro-Regular.eot");
  src: url("/fonts/MyriadPro-Regular.woff2") format("woff2"), 
   url("/fonts/MyriadPro-Regular.woff") format("woff"), 
   url("/fonts/MyriadPro-Regular.ttf") format("truetype"), 
   url("/fonts/MyriadPro-Regular.svg#Roboto-Regular") format("svg"), 
   url("/fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
