.thu img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.footer {
  .block-footer-top {
    background: $middle_red;
    height: 70px;
    width: 100%;
    .wrapper {
      width: 1170px;
      margin: 0 auto;
    }
    .left-top-nav {
      max-width: 45%;
      float: left;
      height: 70px;
      line-height: 70px;
      li {
        float: left;
        margin-right: 10px;
        a {
          float: right;
          color: #bababa;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .right-top-nav {
      max-width: 48%;
      float: right;
      height: 70px;
      line-height: 70px;
      li {
        float: left;
        margin-right: 10px;
        a {
          color: #bababa;
          &:hover {
            color: #fff;
          }
        }
      }
      .icon-soc {
        margin: 5px 10px;
      }
    }
  }
  .block-footer {
    background: #022d41;
    min-height: 240px;
    padding: 40px 0;
    .wrapper {
      width: 1170px;
      margin: 0 auto;
      .nav-categ {
        width: 30%;
        margin: 0 auto;
        float: left;
        font-size: 14px;
        .title-categ {
          font-size: 16px;
          color: #fff;
          margin: 20px 0;
        }
        ul {
          li {
            a {
              color: #fff;
              line-height: 24px;
            }
          }
        }
      }
      .nav-city {
        width: 30%;
        float: left;
        font-size: 14px;
        .title-city {
          color: #fff;
          font-size: 16px;
          margin: 20px 0;
          li {
            a {
              color: #fff;
              line-height: 24px;
            }
          }
        }
      }
      .nav-get {
        width: 30%;
        float: right;
        font-size: 14px;
        .title-get {
          font-size: 16px;
          color: #fff;
          margin: 20px 0;
        }
        li {
          a {
            line-height: 24px;
            color: #fff;

          }
        }
      }
    }
  }
}
.block-footer-bottom {
  min-height: 80px;
  .wrapper {
    width: 1170px;
    margin: 0 auto;
    padding-top: 30px;
    .left-bottom {
      margin-top: 15px;
      float: left;
      li a {
        color: #bababa;
      }
    }
    .right-bottom {
      float: right;
      .icon-bottom-soc {
        float: left;
        border-radius: 19px;
        height: 35px;
        margin-right: 10px;
        &:hover {
          background: #cf2800;
        }
      }
    }
  }
}
.ins {
  position: relative;
}
footer .section {
  height: 68px;
  line-height: 68px;
  background: #a1152c;
}
.footul {
  padding: 0;
  list-style: none;
  margin: 0;
  position: relative;
  overflow: hidden;
  li {
    display: inline-block;
    float: left;
    height: 100%;
    padding: 0 12px;
    a {
      color: #bababa;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      &:hover {
        color: #fff
      }
    }
  }
}
.res {
  //margin-top: 20px;
}
.section5 {
  background: #002d42;
}
.over2 {
  overflow: hidden;
  width: 100%;
}
.overleft {
  float: left;
  width: 50%;
}
.col {
  float: left;
  width: 36%;
}
.cols {
  float: left;
  width: 28%;
}
footer .section5 {
  padding-top: 62px;
  padding-bottom: 53px;
}
.h5 {
  font-family: mpb, sans-serif;
  font-size: 16px;
  color: #fff
}
.footsec, .to {
  list-style: none;
  padding-left: 0
}
.footsec li a, .to li a {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #858d91;
}
.footsec li, .to li {
  position: relative;
  padding: 4px 20px;
}
.footsec li:before {
  content: '»';
  position: absolute;
  left: 0;
  top: 0;
  color: #cf2800;
  font-size: 22px;
}
.to li:before {
  content: '>';
  position: absolute;
  left: 0;
  top: 5px;
  color: #cf2800;
  font-size: 15px;
}
.footsec2 {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  float: right;
  margin-top: 24px;
  li {
    display: inline-block;
    float: left;
    width: 35px;
    margin: 0 4px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    a {
      display: block;
      background: #e1eaed;
      border-radius: 50%;
      color: #8f8f8f;
      &:hover {
        background: #cf2800;
        color: #fff
      }
    }
  }
}
.section6 {
  background: #fff;
  height: 76px;
  line-height: 84px;
  overflow: hidden;
}
.copi {
  font-size: 12px;
  font-family: mpb, sans-serif;
  color: #727272;
}
#map {
  height: 785px
}
.footsec li a:hover, .to li a:hover {
  text-decoration: underline;
  color: #fff;
}
.bef:hover {
  opacity: .8
}
.button:hover {
  opacity: .9;
}


.left {
  float: left;
  @media (min-width: 320px) {
    float: none;
    width: 100%;
    text-align: center;
  }
  @media (min-width: 768px) {
    float: left;
    width: auto;
    text-align: left;
  }
}

.right {
  float: right;
  @media (min-width: 320px) {
    float: none;
    width: 100%;
    text-align: center;
  }
  @media (min-width: 768px) {
    float: right;
    width: auto;
    text-align: left;
  }
}



@media (min-width: 320px) {
    .listli:last-child {
        margin-right: 0
    }
  .text-after-input {
    width: 100%;
  }
  .s_ok {
    width: 100%;
    }
    .ri:before {
    left: 52px !important;
    }
    .s_ceny div {
    width: 32%;
    margin: 8px auto;
    } 
    #product {
    margin-top: 85px;
    }
  .p_sel3 select, .p_sel4 select, .term select, .term2 select, .term3 select, .term4 select, .term5 select {
    padding: 17px 0 !important;
    }
    .hostel {
    height: 36px;
    }
    .c_block {
    width: 100%;
    }
    .c_fl {
    position: relative;
    z-index: 9;
    width: 100%;
    margin-bottom: 6px;
    }
        .s_i1 {
    padding-right: 0;
    }
    .s_o {
    text-align: left;
    }
    .s_i2 {
    padding-left: 0;
    }
        .s_l {
    width: 50%;
    }
    .hostel select {
    top: -52px;
    padding: 9px 0;
    }
    .items .green {
    padding: 0 4px;
    font-size: 10px;
    }
    .s_ok {
    font-size: 18px;
        margin-bottom: 5px;
    }
    .items .thu {
    height: 212px;
    }
    .s_okr {
    width: 50%;
    }
    .s_lef,.s_rig {
    width: 100%;
    }
    .items {
    width: 100%;
    }
    .s_okt {
    width: 50%;
    }
    .search .caption {
    height: auto
    }
    .s_r {
    width: 50%;
    }
    .s_dl {
    width: 25%;
    }
    .c_fl input, .hostel p {
    padding: 12px 6px;
     font-size: 9.3333px;
    }
    .hostel p {
    font: 400 9.3333px Arial;
    }
    .s_i {
    width: 100%;
    }
    .pp_a a {
    font-size: 16px !important;
        padding: 18px 14px !important;
    }
    .npr:after, .npr3:after {
    top: 0 !important;
    right: 2px !important;
    }
    .pp_end a {
    font-size: 16px !important;
    padding: 18px 14px !important;
    }
    .npr input, .npr2 input, .npr3 input {
    font-size: 16px !important;
    padding: 18px 14px !important;
    }
    .npr:after, .npr3:after {
    font-size: 16px !important;
    padding: 18px 14px !important;
    }
    .p_sel p, .p_sel2 p, .p_sel3 p, .p_sel4 p {
    font-size: 16px !important;
    padding: 18px 14px !important;
    }
    .usd p, .term p, .term2 p, .term3 p, .term4 p, .term5 p {
    font-size: 16px !important;
    padding: 18px 14px !important;
    }
    .term6 input {
    font-size: 16px !important;
    padding: 18px 14px !important;
    }
      .usd, .npr, .npr2, .term, .term2, .term3, .term4, .term5, .term6 {
    position: relative;
    margin-right: 0 !important;
    margin-bottom: 16px !important;
    width: 100% !important;
    }
    .pp_a a {
    margin-right: 0 !important;
    }
    .pp_end a {
    margin-left: 0 !important;
    }
    .npr3 {
    margin-left: 0 !important;
    }
    .v_lef {
    position: relative !important;
    top: 0 !important;
    float: none !important;
    width: 60% !important;
    }
    .pp_a, .pp_end {
    width: 100% !important;
    }
    .npr2 {
    width: 100% !important;
    margin-right: 0 !important;
    float: none !important;
    }
    .p_sel, .p_sel2, .p_sel3, .p_sel4, .npr3 {
    width: 100% !important;
    float: none !important;
    }
    .p_sel2, .p_sel4 {
    margin-left: 0 !important;
    }
  .tabs {
    width: 100%;
    }
  .youtube {
    width: 100%;
    }
  .mon {
    padding: 0;
    width: 100%;
    float: none;
    }
    .m_div {
    padding: 0 6px 40px;
    }
  .p_opl {
    padding: 0;
    }
  .layout-btn {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    float: left;
    line-height: 50px;
    }
  .text-after-btn {
    float: none;
    width: 100%;
  }
  .inp-green {
    display: none;
  }
  .c_left {
    width: 100%;
    padding: 0 14px;
    box-sizing: border-box;
  }
  .content-prof {
    padding: 0 14px;
    box-sizing: border-box;
    }
  .d_li {
  width: 100%;
    margin: 0;
  height: 50px
  }
  .d_li2 {
    width: 100%;
    margin: 0;
  height: 50px
  }
  .inp-req {
    width: 100%;
  margin: 0;
  margin-top: 8px;
    box-sizing: border-box;
  }
  .p_tex {
        margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
  }
  .p-inps {
    padding: 0
}
  .p-inp {
    margin-left: 0;
  width: 100%;
  }
    .colmd7 {
    width: 100%;
    }
    .st_col3 {
    width: 100%;
    }
    .st_col6 {
    width: 100%;
    }
    .st_col2 {
    width: 50%;
    }
    .st_col2 input {
    width: 98% !important;
    display: block;
    margin: auto;
    }
    .stripe input {
    width: 100%;
    }
    .colmd5 {
    width: 100%;
    }
    .colmd7 textarea {
    width: 100%;
    }
    #payment,#payments {
        width: 100%;
        margin: auto;
    }
    .v_center > div > div a {
         height: 45px;
         width: 45px;
         margin: auto;
    }
    .colmd12 {
         padding-left: 10px;
         padding-right: 10px;
    }
    .v_center > div > div:first-child:before {
         left: 44%;
    }
    .v_fix .or {
         width: 18%;
    }
    .v_subdiv {
        width: 50%;
    }
    .colmd12 {
         width: 100%;
         height: 73px;
    }
    .colmd4 {
         width: 28.991%;
    }
    .hotel p {
         width: 100%;
    }
    .hotel {
         padding-left: 10px;
         padding-right: 10px;
    }
    .v_fix .hr {
         width: 41%;
    }
    .colmd6:nth-child(2) {
         padding-left: 10px;
         padding-right: 10px;
    }
    .control {
         width: 100%;
    }
    .colmd6 input, .colmd6 select {
         width: 100%;
    }
    .colmd6:first-child, .colmd6:nth-child(3) {
         padding-right: 10px;
         padding-left: 10px;
    }
    .colmd6 {
         width: 100%;
         margin-bottom: 18px;
         height: 73px;
    }
    .v_center > div > div:last-child:before {
         left: 44%;
    }
    .v_fix .hr {
         opacity: 0;
    }
    .sear {
         position: relative;
         padding-top: 20px;
    }
    .ins:before {
         display: none;
    }
    #searchv {
         width: 100%;
         margin-top: 10px;
         padding-left: 6px;
         box-sizing: border-box;
    }
    .textright {
         padding-right: 0
    }
    .knopka2 {
         margin-top: 4px;
    }
    .search2 {
         margin-top: 10px;
    }
    .knopka, .knopka2 {
         height: 28px;
         line-height: 28px;
    }
    .knopka a,.knopka2 a {
         font-size: 10px;
    }
    .knopka2 {
         float: left;
    }
    .searchbut {
         padding: 1px 0 !important;
    }
    .in3 {
        padding: 4px
    }
    .input1 input, .input2 input, .input3 input {
         padding: 4px 25px;
    }
    .colsm6 {
    width: 100% !important;
    }
    .input1 {
         padding-right: 6px;
         width: 50%;
         margin-bottom: 4px;
    }
    .input2 {
         padding-right: 6px;
         width: 50%;
         margin-bottom: 4px;
    }
    .input3 {
         padding-right: 6px;
         width: 50%;
         margin-bottom: 4px;
    }
    .footul li a {
        font-size: 10px;
    }
    .ite img {
        width: 45%;
    }
    .hidden-md {
        display: block !important;
    }
    .hidden-sm {
        display: none;
    }
    .hidden-xs {
        display: none !important;
    }
    .caption {
        height: 198px;
    }
    .ratting i {
        font-size: 14px;
    }
    .h3 {
        font-size: 21px;
    }
    .tov .owl-nav > div {
        top: 26%;
    }
    .thu {
        height: 240px;
    }
    .thucenter {
        font-size: 21px;
    }
    .secttext p{
        font-size: 16px;
    }
    .thuleft, .thuright {
        font-size: 14px;
        line-height: 25px;
        z-index: 999999;
        position: relative;
    }
    .h2 {
        font-size: 32px;
        font-family: mpb;
    }
    .ul:before {
        left: 5px;
    }
    .icon img {
        width: 50%;
    }
    .plus {
        font-size: 20px !important;
    }
    .button {
        padding: 15px 27px;
    }
    #top {
        padding: 0 12px;
    }
    .listli {
        padding: 0 10px;
    }
    .listli > a {
        font-size: 12px;
    }
    .dropdown > a:after {
        display: none
    }
    .prevent {
        font-size: 12px !important;
    }
    .button {
        font-size: 12px !important;
    }
    .icon {
        width: 18px;
        height: 18px;
        line-height: 20px;
    }
    .ul {
        width: 180px;
        text-align: left;
        top: 75px;
    }
    .ul li a {
        font-size: 12px;
        
    }
    .lang li a {
        font-size: 12px;
    }
    #map {
        height: 265px;
    }
    .dire {
        font-size: 16px;
    }
    .sectright a {
        padding: 0;
    }
    .sectimg {
        width: 100%;
        text-align: center;
        padding: 6px;
        height: 117px;
        box-sizing: border-box;
    }
    .sectimg div {
        border-radius: 50%;
        background: url(../images/otzyvy.jpg) 10% 40%;
        background-size: 223px;
        width: 105px;
        margin: auto;
        height: 100%;
    }
    .secttext {
        width: 100%;
        text-align: center;
    }
    .sel div {
        width: 42%;
        margin-left: 42px;
    }
    .btn {
        padding: 6px 14px;
        line-height: 0px;
    }
    footer .section5 {
        padding-left: 0
    }
    .footsec li a, .to li a {
        font-size: 12px;
    }
    .copi {
        padding: 2px 12px 0;
    }
    .left {
        float: none;
        width: 100%;
        text-align: center;
    }
    #logo {
        padding-top: 0
    }
    .listli {
        color: #fff;
        display: table-cell;
        padding: 0;
        text-align: center;
        height: auto;
        float: none;
        line-height: 12px;
    }
    .right {
        float: none;
        width: 100%;
        text-align: center;
    }
    .list {
        height: 14px;
    }
    .list {
        height: 14px;
        display: table;
        width: 100%;
        margin-top: 6px;
    }
    .listlis {
        text-align: center;
        margin-top: 10px;
    }
    .hidd {
        display: table-cell !important
    }
    .olp {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .bro {
        font-size: 20px;
    }
    .car.owl-loaded {
        padding-bottom: 88px;
    }
    .sectright a {
        float: none;
        text-align: center;
        display: block
    }
    .sectleft {
        text-align: center;
        width: 100%;
        float: none;
    }
    .sectright {
        margin-top: 30px;
        height: auto;
        width: 100%;
        float: none;
    }
    .centleft, .centright {
        width: 100%;
        box-sizing: initial;
        float: none;
    }
    .sect {
        border-left: none;
        padding: 0 6px;
    }
    .cent1, .cent2 {
        float: none;
        height: 250px;
    }
    .centleft, .centleft1, .centleft2 {
        border-right: none;
    }
    .centleft1, .centright1, .centleft2, .centright2 {
        width: 100%;
        height: 250px;
        float: none;
        margin-bottom: 6px;
    }
    .centright, .centright1, .centright2 {
        border-left: none;
    }
    .sectext1 p {
        line-height: 20px;
        padding-left: 0;
        margin-bottom: 8px;
    }
    .sectext1 span {
        padding-left: 0
    }
    .owls .owl-dots {
        position: relative;
        text-align: center;
        margin-top: 6px;
        right: 0;
        bottom: 0;
    }
    .section2 {
        padding: 25px 0;
    }
    .sectext1:before {
        display: none
    }
    .sel div {
        width: 100%;
        margin-left: 0;
        margin-bottom: 4px;
        height: 32px;
        line-height: 16px;
        font-size: 13px;
        position: relative;
    }
    .fyt {
        font-size: 25px;
    }
    .mobleft, .mobright {
        width: 100%;
        float: none;
        margin-bottom: 4px;
        box-sizing: border-box;
    }
    .mobleft .bef {
        margin-left: auto;
        margin-right: auto;
    }
    .mobright .bef {
        margin-left: auto;
        margin-right: auto;
    }
    .section3 {
        background: #002d42;
        padding: 46px 0;
    }
    .ite {
        width: 100%;
        float: none;
        margin-bottom: 12px;
    }
    footer .section {
        height: auto;
        line-height: 30px;
    }
    .overleft {
        float: none;
        width: 61%;
        line-height: 20px;
        overflow: hidden;
        margin: auto;
    }
    .section6 .overleft {
        line-height: 20px;
    }
    .copi {
        text-align: center;
    }
    .section6 {
        height: auto;
        line-height: 84px;
    }
    .footsec2 {
        width: 216px;
        margin: auto;
        text-align: center;
        float: none;
        margin-bottom: 6px;
    }
    .drop:after {
        top: 4px;
    }
    .lang {
        top: 78px;
    }
    .cont, .contto {
            width: 195px;
        padding: 8px 22px;
    }
    .owl-nav div img {
        width: 60%;
    }
    .owl-next {
        text-align: right;
    }
    .over {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .hiy {
        display: block !important;
    }
    .footul li {
        display: block;
        float: none;
    }
    .car.owl-loaded {
        padding-bottom: 60px;
    }
    .col {
        float: none;
        width: 100%;
    }
}

@media (max-width: 400px){
    .link-downl{
        font-size: 14px;
    }
    .notification_block .brick{
        height: 250px !important;
    }
    .required_page .text-after-input{
        width: 300px !important;
    }
    .btn-rev{
        display: block;
        margin-top: 7px;
    }
    .rev-block{
        margin: 55px 20px !important;
    }

    #reviewStars-input{
        top: -190px;
    }

    .layout-prof{
        padding-bottom: 20px;
    }
}

@media (max-width: 500px){
    .correspondense .title, .correspondense .inp-title{
        display: none !important;
    }

    .correspondense .from{
        width: 33% !important;
    }
}

@media (max-width: 550px){
    .text-conf{
        width: auto;
        margin-bottom: 20px;
    }
    .btn-conf{
        line-height: 80px;
    }
    .tab-inp-open{
        max-width: 100%;
    }
    .notification_block .br-btn{
        margin-left: 0;
    }
    .notification_block .brick-text{
        margin-bottom: 10px;
    }
    .notification_block .brick{
        text-align: center;
        height: 230px;
    }
    .notification_block .brick-img{
        float: none;
        padding: 10px 0;
        margin: 0 auto;
    }
    .notification_block .brick-title{
        padding-top: 10px;
    }

    .required_page .inp-req{
        max-width: 310px !important;
    }
    .required_page .text-after-input{
        width: 360px;
    }
    .required_page .p-inp{
        width: 80%;
        margin: 10px 0 ;
    }

    .required_page .inp-green{
        margin-left: 20px !important;
    }
    
    .video_page .block-img{
        float: none;
    }
    .video_page .text-img{
        margin-left: 0;
    }

    .video_page .br-btn{
        margin-left: 0;
    }

    .video_page .add-video{
        margin-left: 20px;
    }

    .stripe .s_sub{
        float: none;
    }
    .stripe .colmd5 .s_opens{
        padding: 0 13px;
    }
}

@media (max-width: 650px){
    .wide{
        max-width: 400px !important;
    }
    .btn-block{
        padding: 15px !important;
    }
    .btn-recom{
        display: block;
        margin-top: 7px;
    }
    .conf .linkfb{
        float: none;
    }
    .btn-rev{
        padding: 12px 25px;
        font-size: 14px;
    }

    .correspondense .tab-inp{
        padding: 0 !important;
    }

    .correspondense .from{
        margin-left: 15px;
        width: 18%;
    }

    .correspondense .title{
        width: 31% !important;
    }

    .correspondense .last-tab{
        padding-top: 15px !important;
    }

    .correspondense .mess{
        width: 30%;
    }


    .correspondense .last{
        margin-right: 15px;
    }
}


@media (max-width: 768px){
    .colmd7 .s_sub{
        float: none;
    }
    .colmd5 .s_opens{
        padding: 0 13px;
    }
}

@media (min-width: 768px) {
    .sectext1:before {
        display: block;
    }
    .ri:before {
    left: 119px !important;
    }
    .items .green {
    padding: 0;
    font-size: 12px;
    }
    .s_ceny div {
    width: 16%;
    margin: 8px auto;
    }
    #product {
    margin-top: 65px;
    }
    .s_ok {
    width: 50%;
    }
    .hostel {
    height: 41px;
    }
    .hostel select {
    top: -56px;
    padding: 11px 0;
    }
    .s_lef,.s_rig {
    width: 50%;
    }
    .s_i1 {
    padding-right: 0;
    }
    .s_o {
    text-align: left;
    }
    .s_i2 {
    padding-left: 0;
    }
        .s_l {
    width: 35%;
    }
    .s_ok {
    font-size: 11px;
    }
    .items .thu {
    height: 300px;
    }
    .s_okr {
    width: 28%;
    }
    .items {
    width: 100%;
    }
    .s_okt {
    width: 22%;
    }
    .search .caption {
    height: 168px;
    }
    .s_r {
    width: 65%;
    }
    .s_dl {
    width: 25%;
    }
    .c_fl input, .hostel p {
    padding: 12px 6px;
     font-size: 9.3333px;
    }
    .hostel p {
    font: 400 9.3333px Arial;
    }
    .s_i {
    width: 100%;
    }
    .c_block {
    width: 33.33333%;
    }
    .c_fl {
    width: 33.33333%;
    margin-bottom: 0
    }
    .usd, .npr, .npr2, .term, .term2, .term3, .term4, .term5, .term6 {
    position: relative;
    width: 33% !important;
    }
    .pp_a, .pp_end {
    width: 16.5% !important;
    }
    .usd, .npr, .npr2, .term, .term2, .term3, .term4, .term5, .term6 {
    margin-right: 36px !important;
    margin-bottom: 0 !important;
    }
    .npr2 {
    width: 24% !important;
    float: left !important;
    margin-right: 12px !important;
    }
    .p_sel, .p_sel2, .p_sel3, .p_sel4, .npr3 {
    width: 14% !important;
    float: left !important;
    }
        .pp_a a {
    margin-right: 10px !important;
    }
    .pp_end a {
    margin-left: 10px !important;
    }
    .npr3 {
    margin-left: 12px !important;
    }
    .v_lef {
    position: absolute !important;
    top: -50px !important;
    float: left !important;
    width: 15% !important;
    }
    .p_sel2, .p_sel4 {
    margin-left: 12px !important;
    }
    .npr:after, .npr3:after {
    top: 0px !important;
    right: 3px !important;
    }
    .p_sel3 select, .p_sel4 select, .term select, .term2 select, .term3 select, .term4 select, .term5 select {
    padding: 17px 0 !important;
    }
            .pp_a a {
    font-size: 14px !important;
        padding: 18px 14px !important;
    }
    .pp_end a {
    font-size: 14px !important;
    padding: 18px 14px !important;
    }
    .npr input, .npr2 input, .npr3 input {
    font-size: 14px !important;
    padding: 18px 14px !important;
    }
    .npr:after, .npr3:after {
    font-size: 14px !important;
    padding: 18px 14px !important;
    }
    .p_sel p, .p_sel2 p, .p_sel3 p, .p_sel4 p {
    font-size: 14px !important;
    padding: 18px 14px !important;
    }
    .usd p, .term p, .term2 p, .term3 p, .term4 p, .term5 p {
    font-size: 14px !important;
    padding: 18px 14px !important;
    }
    .term6 input {
    font-size: 14px !important;
    padding: 18px 14px !important;
    }
    .tabs {
    width: 60%;
    }
    .m_div {
    padding: 0 36px 40px;
    }
    .youtube {
    width: 60%;
    }
  .p_opl div:last-child {
    text-align: left;
    }
  .p_cont {
    padding: 0;
  }
  .p_opl {
    padding: 0 30px;
    }
  .inp-green {
    display: block
  }
  .text-after-btn {
    float: right;
    width: 70%;
  }
  .mon {
    padding: 0 30px;
    width: 30%;
    float: left;
    }
  .layout-btn {
    width: auto;
    margin: 20px 10px 40px 30px;
    float: left;
}
  .d_li {
    width: 20%;
        margin-left: 0;
  height: auto
  }
  .title-conf {
    margin-left: 30px;
    }
  .gyt b {
        font-family: 'OpenSans';
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
  }
  .text-after-input {
    width: 49%;
  }
  .d_li2 {
    width: 12%;
  margin-left: 0;
  height: auto
  }
  .c_left {
    width: 16%;
    padding: 0;
  }
  .gyt {
    float: none
  }
  .c_ul li a {
    font-size: 10px;
  }
  .text-after-btn {
    width: 60%;
  }
  .text-after-input {
    width: 45%;
  }
  .p_fyt {
    width: 100%;
    float: left;
  margin-bottom: 14px;
    padding: 0 30px;
  font-family: ossb;
    box-sizing: border-box;
  }
  .p_tex {
    float: right;
    width: 42%;
  font-family: ossb;
    margin-top: 10px;
  }
  .p_fyt b {
    font-family: 'OpenSans';
    font-size: 12px;
    font-weight: bold;
  }
  .layout-prof {
    width: 84%;
    float: left;
    margin: 40px auto;
    padding: 0 10px;
    box-sizing: border-box;
}
    .p-inp {
    width: auto;
    font-size: 10px;
  margin-left: 30px;
  font-family: ossb
  }
  .p-inps {
    font-size: 10px;
  padding: 0 30px;
  font-family: ossb
  }
    .stripe input {
    width: 90%;
    }
    .st_col6 {
    width: 50%;
    }
    .st_col2 input {
    width: 90%;
    display: block;
    margin: auto;
    }
    .st_col2 {
    width: 22%;
    }
    .st_col3 {
    width: 40%;
    }
    .colmd7 {
    width: 65%;
    }
    .sr_opens {
    font-size: 12px;
    }
    .s_img {
    display: block;
    }
    .colmd7 textarea {
    width: 80%;
    }
    .colmd5 {
    width: 35%;
    }
    .s_img div {
    background-size: 133px;
    width: 60px;
    height: 60px;
    }
    
    #payment,#payments {
        width: 75%;
    }
    .v_fix .or {
         width: 12%;
    }
    .colmd12 {
         padding-left: 5px;
         padding-right: 5px;
    }
    .v_subdiv {
        width: 20%;
    }
    .colmd4 {
         width: 30.5%;
    }
    .v_center > div > div a {
         height: auto;
         width: auto;
         margin: auto;
    }
    .colmd12 {
         width: 42%;
    }
    .hotel {
         padding-left: 10px;
         padding-right: 0
    }
    .colmd6:first-child, .colmd6:nth-child(3) {
         padding-right: 10px;
         padding-left: 0;
    }
    .colmd6:nth-child(2) {
         padding-left: 10px;
         padding-right: 0
    }
    .hotel p {
         width: 40%;
    }
    .colmd6 {
         width: 50%;
         margin-bottom: 40px;
         height: 73px;
    }
    .control {
         width: 40%;
    }
    .colmd6 input, .colmd6 select {
         width: 40%;
    }
    .v_fix .hr {
         opacity: 1
    }
    .v_fix .hr {
         width: 44%;
    }
    .ul {
        top: 106px;
    }
        .colmd4 {
         width: 28.972678%;
    }
    .v_center > div > div:first-child:before {
         opacity:0;
    }
    .v_center > div > div:last-child:before {
         opacity:0;
    }
    .sear {
         position: absolute;
         padding-top: 0
    }
    .secttext p {
         font-size: 21px;
    }
    #searchv {
         margin-top: 62px;
         padding-left: 0;
         box-sizing: unset;
    }
    .knopka2 {
         margin-top: 0
    }
    .textright {
         padding-right: 26px;
    }
    .knopka, .knopka2 {
         height: 36px;
         line-height: 36px;
    }
    .knopka a,.knopka2 a {
         font-size: 16px;
    }
    .knopka2 {
         float: right;
    }
    .search2 {
         margin-top: 30px;
    }
    .in3 {
        padding: 7px
    }
    .searchbut {
         padding: 7px 0 !important;
    }
    .input1 input, .input2 input, .input3 input {
         padding: 10px 25px;
    }
    .colsm6 {
    width: 50% !important;
    }
    .input1 {
         padding-right: 6px;
         width: 25%;
    }
    .input2 {
         padding-right: 6px;
         width: 10%;
    }
    .input3 {
         padding-right: 6px;
         width: 15%;
    }
    .section6 .overleft {
        line-height: 76px;
    }
    .ov {
        margin-left: 0
    }
    .col {
        float: left;
        width: 36%;
    }
    .footul li {
        display: inline-block;
        float: left;
    }
    .car.owl-loaded {
        padding-bottom: 131px;
    }
    .hiy {
        display: block !important;
    }
    .over {
        padding-top: 72px;
        padding-bottom: 153px;
    }
    .owl-nav div img {
        width: 100%;
    }
    .cont, .contto {
        width: 450px;
         padding: 42px 52px;
    }
    .lang {
        top: 106px;
    }
    .drop:after {
        top: 7px;
    }
    .footsec2 {
        width: auto;
        text-align: center;
        float: right;
        margin-top: 24px;
        margin-bottom: 0
    }
    .section6 {
        height: 76px;
        line-height: 84px;
    }
    .copi {
        text-align: left;
    }
    .overleft {
        float: left;
        width: 50%;
        margin: 0;
    }
    footer .section {
        height: 68px;
        line-height: 68px;
    }
    .ite {
        margin-bottom: 0;
        width: 25%;
        float: left;
    }
    .section3 {
        background: #002d42;
        padding: 96px 0;
    }
    .mobleft .bef {
        margin-left: auto;
        margin-right: 10px;
    }
    .mobright .bef {
        margin-right: auto;
        margin-left: 10px;
    }
    .mobleft, .mobright {
        width: 50%;
        float: left;
        margin-bottom: 0;
        box-sizing: border-box;
    }
    .fyt {
        font-size: 32px;
    }
    .section2 {
        padding: 94px 0;
    }
    .cent1, .cent2 {
        float: left;
        height: 452px;
    }
    .owls .owl-dots {
        position: absolute;
        margin-top: 0;
        right: 0;
        bottom: 0;
    }
    .sectext1 span {
        padding-left: 52px;
    }
    .sectext1 p {
        text-align: left;
        padding-left: 52px;
        margin-bottom: 8px;
    }
    .secttext {
        text-align: left;
    }
    .centright, .centright1, .centright2 {
        border-left: 3px solid #f6f6f6;
    }
    .centleft1, .centright1, .centleft2, .centright2 {
        width: 50%;
        height: 214px;
        float: left;
        margin-bottom: 0
    }
    .centleft, .centleft1, .centleft2 {
        border-right: 3px solid #f6f6f6;
    }
    .centleft, .centright {
        width: 50%;
        box-sizing: border-box;
        float: left;
    }
    .sect {
        border-left: 6px solid #d90429;
        padding-left: 28px;
    }
    .listli:last-child {
        margin-right: 0
    }
    .sectleft {
        text-align: left;
        width: 55%;
        float: left;
    }
    .sectright {
        height: 69px;
        margin-top: 92px;
        width: 45%;
        float: left;
    }
    .sectright a {
        float: left;
        display: block
    }
    .car.owl-loaded {
        padding-bottom: 131px;
    }
    .bro {
        font-size: 30px;
    }
    .olp {
        font-size: 30px;
        margin-bottom: 60px;
    }
    .hidd {
        display: none !important
    }
    .list {
        height: 14px;
        display: block;
        width: auto;
        margin-top: 0
    }
    .list {
        height: 106px;
    }
    .right {
        float: right;
        width: auto;
        text-align: left
    }
    .listli {
        display: inline-block;
        padding: 0 12px;
        height: 100%;
        float: left;
        line-height: 103px;
    }
    .dropdown > a:after {
        display: block
    }
    #logo {
        padding-top: 24px;
    }
    .hidden-xs {
        display: initial !important;
    }
    .left {
        float: left;
        width: auto;
        text-align: left;
    }
    .listli {
        padding: 0 10px;
    }
    .listli > a {
        font-size: 10px;
    }
    .dropdown > a:after {
        top: 4px;
    }
    .prevent {
        font-size: 10px !important;
    }
    .button {
        font-size: 10px !important;
    }
    .icon {
        width: 22px;
        height: 22px;
        line-height: 26px;
    }
    .ul {
        width: 245px;
    }
    .ul li a {
        font-size: 10px;
    }
    .lang li a {
        font-size: 10px;
    }
    #map {
        height: 360px;
    }
    .dire {
        font-size: 26px;
    }
    .sectright a {
        padding: 0 23px;
    }
    .sectimg {
        width: 15%;
    }
    .secttext {
        width: 85%;
    }
    .sel div {
        width: 42%;
        margin-left: 25px;
        margin-bottom: 0;
    }
    .btn {
        padding: 6px 14px;
    }
    footer .section5 {
        padding-left: 12px;
    }
    .footsec li a, .to li a {
        font-size: 12px;
    }
    .copi {
        padding: 0 12px;
    }
    #top {
        padding: 0 12px;
    }
    .button {
        padding: 10px;
    }
    .plus {
        font-size: 15px !important;
    }
    .icon img {
        width: 42%;
    }
    .ul:before {
        left: 14px;
    }
    .h2 {
        font-size: 20px;
    }
    .thuleft, .thuright {
        font-size: 10px;
    }
    .thucenter {
        font-size: 16px;
    }
    .thu {
        height: 208px;
    }
    .tov .owl-nav > div {
        top: 22%;
    }
    .h3 {
        font-size: 16px;
    }
    .ratting i {
        font-size: 12px;
    }
    .caption {
        height: 150px;
    }
    .hidden-md {
        display: none !important;
    }
    .hidden-sm {
        display: none;
    }
    .ite img {
        width: 80%;
    }
    .footul li a {
        font-size: 11px;
    }
}

@media (max-width: 850px){
    .wide{
        max-width: 600px;
    }
    .tab-inp{
        float: none;
        height: 100px;
        padding: 0 15px;
    }
    .convers{
        padding-top: 0;
    }

    .text-download{
        padding: 20px 15px 0;
    }

    .btn-block{
        text-align: center;
        padding: 50px 0;
    }
    .btn-recom{
        padding: 12px 25px;
        font-size: 14px;
    }
     
    .required_page .p-inp{
        margin-left: 20px;
        float: none;
    }

    .required_page .text-after-input, .required_page .text-after-btn{
        float: none;
    }

    .required_page .br-btn{
        margin-left: 0;
    }
    .required_page .inp-req{
        max-width: 340px;
        width: 100%;
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .rev-block{
        margin: 40px 20px;
    }
    .content-img-block{
     margin: 0 20px 40px 20px;
    }
    .block-add-video, .tube-inp, .add-video{
        margin-left: 20px;
    }
    .tube-inp{
        width: 90%;
    }
    .correspondense .tab-inp{
        float: left;
        height: 40px;
        padding: 0 20px;
    }

    .correspondense .last{
        float: right;
    }
    .correspondense .last-tab{
        padding-top: 15px;
    }

    .correspondense .title{
        width: 21%;
    }

    .correspondense .layout-btn{
        margin: 40px 0;
    }
}

@media (min-width: 992px) {
    .listli:last-child {
        margin-right: 0
    }
    .s_o {
    text-align: center;
    }
    .p_sel3 select, .p_sel4 select, .term select, .term2 select, .term3 select, .term4 select, .term5 select {
    padding: 20px 0 !important;
    }
    .ri:before {
    left: 92px !important;
    }
    .search .caption {
    height: auto;
    }
    .s_i {
    width: 50%;
    }
    .s_i1 {
    padding-right: 10px;
    }
    .s_i2 {
    padding-left: 10px;
    }
    .s_l {
    width: 35%;
    }
    .s_ok {
    font-size: 14px;
    }
    .items .thu {
    height: 300px;
    }
    .s_okr {
    width: 30%;
    }
    .items {
    width: 100%;
    }
    .s_okt {
    width: 20%;
    }
    .s_r {
    width: 65%;
    }
    .s_dl {
    width: 25%;
    }
    .c_fl input, .hostel p {
    padding: 12px 6px;
     font-size: 9.3333px;
    }
    .hostel p {
    font: 400 9.3333px Arial;
    }
    .p_over {
    padding: 0 10px !important;
    }
        .pp_a a {
    font-size: 14px !important;
        padding: 18px 33px !important;
    }
    .pp_end a {
    font-size: 14px !important;
        padding: 18px 34px !important;
    }
    .npr input, .npr2 input, .npr3 input {
    font-size: 14px !important;
        padding: 18px 34px !important;
    }
    .p_sel p, .p_sel2 p, .p_sel3 p, .p_sel4 p {
    font-size: 14px !important;
        padding: 18px 34px !important;
    }
    .npr:after, .npr3:after {
        top: 1px !important;
    right: 5px !important;
        font-size: 14px !important;
    padding: 18px 7px !important;
    }
    .usd p, .term p, .term2 p, .term3 p, .term4 p, .term5 p {
    font-size: 14px !important;
        padding: 18px 34px !important;
    }
    .term6 input {
    font-size: 14px !important;
        padding: 18px 34px !important;
    }
    .tabs {
    width: 40%;
    }
    .youtube {
    width: 40%;
    }
  .d_li {
    margin-right: 12px;
  }
  .d_li2 {
    margin-left: 12px;
  }
  #win1 {
    padding: 15px 38px;
  }
  .inp-req {
    width: 280px
  }
  .text-after-btn {
    width: 68%;
  }
  .gyt {
    float: none
  }
  .p-inp {
    font-size: 12px;
  }
  .p-inps {
    font-size: 12px;
  }
    .layout-prof {
    width: 84%;
    float: left;
    margin: 0 auto;
    padding: 0 14px;
    box-sizing: border-box;
    }
    .text-after-input {
    width: 48%;
    }
    .c_ul li a {
    font-size: 13px;
    }
    .sr_opens {
    font-size: 16px;
    }
    .s_img div {
    background-size: 189px;
    width: 85px;
    height: 85px;
    }
    .v_center > div > div:last-child:before {
         opacity: 1
    }
    .v_center > div > div:first-child:before {
         opacity: 1
    }
    .colmd4 {
         width: 28.98%;
    }
    .v_center > div > div:first-child:before {
         left: 26px;
    }
    .v_center > div > div:last-child:before {
         left: 26px;
    }
    .ins:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 32px;
    width: 13px;
    height: 13px;
    background: url(../images/search.png);
    }
    .input1 {
         padding-right: 6px;
    }
    .input2 {
         padding-right: 6px;
    }
    .input3 {
         padding-right: 6px;
    }
    .footul li a {
        font-size: 12px;
    }
    .ite img {
        width: 76%;
    }
    .hidden-md {
        display: none !important;
    }
    .hidden-sm {
        display: block;
    }
    .caption {
        height: 198px;
    }
    .ratting i {
        font-size: 14px;
    }
    .h3 {
        font-size: 21px;
    }
    .tov .owl-nav > div {
        top: 26%;
    }
    .thu {
        height: 240px;
    }
    .thucenter {
        font-size: 21px;
    }
    .thuleft, .thuright {
        font-size: 14px;
    }
    .h2 {
        font-size: 32px;
    }
    .ul:before {
        left: 36px;
    }
    .icon img {
        width: 50%;
    }
    .plus {
        font-size: 20px !important;
    }
    .button {
        padding: 15px 27px;
    }
    #top {
        padding: 0 34px;
    }
    .listli {
        padding: 0 10px;
    }
    .listli > a {
        font-size: 12px;
    }
    .dropdown > a:after {
        top: 4px;
    }
    .prevent {
        font-size: 12px !important;
    }
    .button {
        font-size: 12px !important;
    }
    .icon {
        width: 26px;
        height: 26px;
        line-height: 33px;
    }
    .ul {
        width: 245px;
    }
    .ul li a {
        font-size: 12px;
    }
    .lang li a {
        font-size: 12px;
    }
    #map {
        height: 430px;
    }
    .dire {
        font-size: 36px;
    }
    .sectright a {
        padding: 0 48px;
    }
    .sectimg {
        width: 12%;
    }
    .secttext {
        width: 88%;
    }
    .sel div {
        width: 42%;
        margin-left: 33px;
    }
    .btn {
        padding: 6px 14px;
    }
    footer .section5 {
        padding-left: 12px;
    }
    .footsec li a, .to li a {
        font-size: 12px;
    }
    .copi {
        padding: 2px 12px 0;
    }
}

@media (max-width: 992px){
    .colmd7 textarea{
        width: 100%;
    }
    .colmd7 .s_img{
        width: 100%;
        float: none;
        margin: 10px auto;
    }
}

@media (max-width: 1150px){
    .sidebar-left{
        width: 180px;
    }
}

@media (max-width: 1050px){
    .sidebar-left, .content-prof{
        float: none;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .sidebar-left{
        text-align: center;
    }
    .nav-notific{
        margin: 25px 0;
    }
}

@media (min-width: 1200px) and (max-width: 1293px) {
    .btn {
        padding: 6px 10px !important
    }
}

@media (min-width: 1200px) {
    .container {
             width: 1170px;
             margin: auto;
    }.text-after-input {
    width: 49%;
    }
    .ri:before {
    left: 22px !important;
    }
    .items {
    width: 50%;
    }
    .items .thu {
    height: 230px;
    }
    .s_okr {
    width: 35%;
    }
    .s_okr {
    width: 15%;
    }
    .s_dl {
    width: 18%;
    }
    .s_ok {
    font-size: 21px;
    }
    .s_l {
    width: 20%;
    }
    .s_r {
    width: 80%;
    }
    .c_fl input, .hostel p {
    padding: 12px 19px;
     font-size: 13.3333px;
    }
    .hostel p {
    font: 400 13.3333px Arial;
    }
    .p_over {
    padding: 0 !important;
    }
    .pp_a a {
    font-size: 20px !important;
    }
    .pp_end a {
    font-size: 20px !important;
    }
    .npr input, .npr2 input, .npr3 input {
    font-size: 20px !important;
    }
    .npr:after, .npr3:after {
    font-size: 20px !important;
    }
    .p_sel p, .p_sel2 p, .p_sel3 p, .p_sel4 p {
    font-size: 20px !important;
    }
    .usd p, .term p, .term2 p, .term3 p, .term4 p, .term5 p {
    font-size: 20px !important;
    }
    .term6 input {
    font-size: 20px !important;
    }
  .gyt {
    float: left;
    width: 100%;
  }

  .p-inp {
    font-size: 14px;
  }
  .p-inps {
    font-size: 14px;
  }
    .c_ul li a {
    font-size: 15px;
    }
    .layout-prof {
    margin: 0
}
    .text-after-input {
    width: 48%;
    }
    .s_img div {
    width: 90px;
    height: 90px;
    }
    .colmd4 {
         width: 28.981333%;
    }
    .v_center > div > div:first-child:before {
         left: 40px;
    }
    .v_center > div > div:last-child:before {
         left: 40px;
    }
    .input1 {
         padding-right: 16px;
         width: 25%;
    }
    .input2 {
         padding-right: 16px;
         width: 10%;
    }
    .input3 {
         padding-right: 16px;
         width: 15%;
    }
    .hiy {
        display: none !important;
    }
    .footul li:first-child {
        padding-left: 0;
    }
    .copi {
        padding: 0;
    }
    .footsec li a, .to li a {
        font-size: 14px;
    }
    footer .section5 {
        padding-left: 0;
    }
    .btn {
        padding: 6px 16px;
    }
    .sel div {
        width: 42%;
        margin-left: 40px;
    }
    .secttext {
        width: 90%;
    }
    .sectimg {
        width: 10%;
        padding: 6px;
        height: 117px;
        box-sizing: border-box;
    }
    .sectimg div {
        border-radius: 50%;
        background: url(../images/otzyvy.jpg) 10% 40%;
        background-size: 223px;
        width: 100%;
        height: 100%;
    }
    .sectright a {
        padding: 0 70px;
    }
    .dire {
        font-size: 42px;
    }
    #map {
        height: 785px;
    }
    .lang li a {
        font-size: 16px;
    }
    .ul {
        width: 285px;
    }
    .ul li a {
        font-size: 16px;
    }
    .button {
        font-size: 15px !important;
    }
    .icon {
        width: 32px;
        height: 32px;
        line-height: 39px;
    }
    .prevent {
        font-size: 13px !important;
    }
    .dropdown > a:after {
        top: 7px;
    }
    .listli {
        padding: 0 16px;
    }
    .listli > a {
        font-size: 16px;
    }
    .btn {
        padding: 6px 16px
    }
    .listli:last-child {
        margin-right: 70px;
    }
}

@media (max-width: 1800px){
    textarea{
        resize: none !important;
    }

    .content-prof{
        padding-bottom: 20px;
    }
}
