#site-footer {
  font-family: 'Poppins', sans-serif;
  a {
    color: #fff;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
  }

  .footer-top {
    background-color: #a1152c;
    padding: 25px 0 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    &-left {
      @media(max-width: 992px){
        text-align: center;
      }
    }
    &-right {
      text-align: right;
      @media(max-width: 992px){
        text-align: center;
        padding-top: 20px;
      }
      img {
        margin-left: 20px;
        vertical-align: middle;
      }
    }
    .inline-menu {
      padding: 0;
      margin: 0;
      li {
        padding: 0 20px 0 0;
        margin: 0;
        display: inline-block;
      }
    }
  }
  .footer {
    padding: 60px 0;
    background-color: #002d42;
    .menu-title {
      font-family: mpb, sans-serif;
      font-size: 16px;
      color: #fff;
      margin: 10px 0;
    }
    .footer-menu {
      list-style: none none;
      padding: 0;
      margin: 0;
      li {
        padding: 4px 0;
        &:before {
          content: '»';
          color: #cf2800;
          font-size: 22px;
          display: inline-block;
          margin-right: 5px;
        }
        a {
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          color: #858d91;
          &:hover {
            color: #fff;
          }
        }
      }
      &.one-arrow {
        li {
          &:before {
            content: '>';
          }
        }
      }
    }
  }
  .footer-bottom {
    background-color: #fff;
    padding: 20px 0;
    .copyright {
      line-height: 35px;
      font-size: 12px;
      @media(max-width: 992px){
        text-align: center;
        margin-top: 25px;
      }
    }
    .footer-social-menu {
      text-align: right;
      @media(max-width: 992px){
        text-align: center;
      }
      li {
        width: 35px;
        height: 35px;
        margin: 0 4px;
        line-height: 35px;
        text-align: center;
        display: inline-block;
        a {
          display: block;
          background: #e1eaed;
          border-radius: 50%;
          color: #8f8f8f;
          &:hover {
            background: #cf2800;
            color: #fff;
          }
        }
      }
    }
  }

}


/* OLD STYLES */
.thu img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ins {
  position: relative;
}
#map {
  height: 785px
}
.bef:hover {
  opacity: .8
}
.button:hover {
  opacity: .9;
}
