input[type=text],
input[type=email],
input[type=phone],
select.form-control,
textarea.form-control {
  background-color: #f4f4f4;
}
select {
  min-width: 182px;
}

.form-inline {
  margin-bottom: 25px;
  .form-group {
    padding: 10px 30px 0 0;
    &.full-width {
      width: 100%;
      input[type=text],
      textarea {
        width: 100%;
      }
    }
    label {
      display: block;
      padding-left: 10px;
    }
    .success {
      color: $success;
      &:before {
        content: "";
        width: 21px;
        height: 21px;
        display: inline-block;
        vertical-align: middle;
        background: url(../images/greenok.png);
      }
    }
    .form-control-static {
      padding-top: 30px;
      &.clear-static {
        padding: 0;
      }
    }
  }
  .help-block {
    margin-top: 10px;
  }
  &.birth-day {
    select {
      min-width: auto;
      margin-right: 20px;
    }
    .form-control-static {
      max-width: 400px;
    }
  }
}

.checked-lang {
  padding: 0 0 15px;
  .form-control-static {
    max-width: 400px;
  }
}
