input[type=text],
input[type=email],
input[type=phone],
select.form-control,
textarea.form-control {
  background-color: #f4f4f4;
  padding: 12px;
  height: 40px;
}
textarea.form-control {
  height: auto;
}
select {
  min-width: 182px;
}

.label-inline {
  display: inline-block;
}

.form-inline {
  margin-bottom: 25px;
  .form-group {
    padding: 10px 30px 0 0;
    &.full-width {
      width: 100%;
      input[type=text],
      textarea {
        width: 100%;
      }
    }
    label {
      display: block;
      padding-left: 10px;
    }

    .form-control-static {
      padding-top: 30px;
      &.clear-static {
        padding: 0;
      }
    }
  }
  .help-block {
    margin-top: 10px;
  }
  &.birth-day {
    select {
      min-width: auto;
      margin-right: 20px;
      margin-bottom: 10px;
    }
    .form-control-static {
      max-width: 400px;
    }
  }
}

.checked-lang {
  padding: 0 0 15px;
  .form-control-static {
    max-width: 400px;
  }
}

.confirmed-phones {
  padding: 20px 0;
  .phone {
    padding: 0 0 10px;
  }
  .number {
    padding-right: 10px;
  }
}
#add-phone-form {
  display: none;
}

.form-submit-right {
  padding-top: 15px;
  input {
    margin-right: 0;
  }
}
