.wrapper {
  .header {
    @media screen and (max-width: 1030px) {
      line-height: normal;
      height: 135px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: strech;
      flex-wrap: wrap;

    }
    @media screen and (max-width: 767px) {
      height: 182px;
    }
    .hover{
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 105px;
    background-color: $dark_gray;
    color: #fff;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    .logo {
      padding-left: 10px;
      text-align: center;
      @media screen and (max-width: 1030px) {
        float: none;
        line-height: normal;
        img{
          margin-top: 20px;
          margin-bottom: 15px;
        }
      }
    }
    .nav {
      float: right;
      margin-right: 2%;
      max-height: 105px;
      @media screen and (max-width: 1030px) {
        float: none;
        text-align: center;
      }
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) {
          &.hidden-md.hidden-sm.hidden-lg{
            margin-top: 10px;
            justify-content: center;
            align-items: center;
            .icons{
              position: relative;
              .number__posts{
                color: #ff2020;
                position: absolute;
                top: 4px;
                left: 62%;
              }
            }
            .icons.buttons{
              img{
                width: auto;
                height: auto;
              }
            }
            .icons.drop{
              &:hover{
                .child{
                  top: 50px;
                  &:after{
                    left:65px;
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: 1030px) {
          float: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
        li {
          padding: 0 10px;
          a {
            @media screen and (max-width: 1200px) {
              font-size: 11px;
            }
            @media screen and (max-width: 1030px) {
              .not__hidden{
                display: none;
              }
              .hidden__icons{
                display: inline-block !important;
              }
            }
            color: #fff;
            &:hover {
              opacity: 0.5;
            }
          }
          @media screen and (max-width: 1030px) {
            .not__hidden{
              display: none;
            }
            .hidden__icons{
              display: inline-block !important;
            }
          }
          @media screen and (max-width: 1200px) {
            font-size: 11px;
          }
          .child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            /* @media screen and (max-width: 1030px) {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            } */
            width: 280px;
            background: #022a3c;
            padding: 5px;
            position: absolute;
            top: 87px;
            left: -9999px;
            z-index: 3;
            border-radius: 5px;
            &::after {
              content: '';
              position: absolute;
              left: 20px; top: -20px;
              border: 10px solid transparent;
              border-bottom: 10px solid #232b38;
            }
            li {
              line-height: 40px;
              display: block;
              float: none;
              a {
                i{
                  margin-right: 15px;
                }
                color: #788090;
              }
              .active {
                color: #fff;
              }
            }
          }
          .lang-cild {
            width: 40px;
            li {
              float: none;
              line-height: 35px;
            }
          }
        }
        .tumbl {
          position: relative;
          padding-left: 65px;
          &:after {
            content: "";
            position: absolute;
            top: 40px;
            left: 10px;
            width: 40px;
            height: 30px;
            background: url(../images/tumbl.png);
          }
          &:hover {
            background: #23282f;
          }
        }
        .drop {
          cursor: pointer;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right: 15px;
          position: relative;
          @media screen and (max-width: 1030px) {
            padding-top: 0px;
            padding-bottom: 0px;
          }
          &:after {
            @media screen and (max-width: 1030px) {
              top:54%;
            }
            width: 9px;
            height: 5px;
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 3px;
            background: url(../images/arrow-drop.png);
          }
          .drop-icon {
            padding-right: 15px;
            &:after {
              top: 20px;
              left: 20px;
              display: none;
            }
          }
          &:hover .child {
            position: absolute;
            z-index: 999;
            left: auto;
            opacity: 1;
            top: 60px;
            @media screen and (max-width: 1030px) {
              left: 0;
              top: 30px;
              opacity: 1;
            }
            @media screen and (max-width: 767px) {
              top: 40px;
            }
          }
        }
        .login.drop{
          padding-top: 20px;
          padding-bottom: 20px;
          &:hover{
            .child{
              top: 90px;
              @media screen and (max-width: 767px) {
                top: 30px;
              }
            }
          }
        }
        .button__icon.hidden-xs.drop{
          &::after{
            top: 95%;
            left: 35%;
            @media screen and (max-width: 1030px) {
              top: 120%;
            }
          }
          &:hover{
            .child{
              top: 90px;
              @media screen and (max-width: 1030px) {
                top: 74px;
                left: 3px;
              }
            }
          }
        }
        .button__icon{
          @media screen and (max-width: 1030px) {
            padding-top: 0px;
            padding-bottom: 0px;
          }
          cursor: pointer;
          padding-top: 20px;
          padding-bottom: 20px;
          margin-right: 10px;
         /*  &:hover, &:active, &:focus{
           padding-top: 20px;
         } */
          .number__posts{
            position: absolute;
            top: 20px;
            left: 52px;
            font-family: "Roboto", sans-serif;
            font-size: 11px;
            font-weight: 500;
            color: #ff2020;
            @media screen and (max-width: 1030px) {
              top: 5px;
            }
          }
        }
        /* .button {
         
          .reg {
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            color: #fff;
          }
        } */
        /* @media screen and (max-width: 1200px) {
          img{
            width: 32px;
            height: 32px;
          }
          &.button{
            img{
              width: auto;
              height: auto;
            }
          }
        } */
        .icons {
          &:hover{
            cursor: pointer;
            img{
              &.not__hover{
                display: none;
              }
              &.hover{
                display: block;
              }
            }
            @media screen and (max-width: 1200px) {
              //padding-top: 39px;
            }
            @media screen and (max-width: 1030px) {
              padding-top: 0px;
            }
            //padding-top: 35px;
          }
          //padding-top: 35px;
        }
        .receive__guests{
         /*  background-color: #22272E; */
          display: flex;
          justify-content: space-around;
          align-items: center;
         /*  padding: 40px 15px; */
          span{
            margin-left: 5px;
          }
          @media screen and (max-width: 1030px) {
            padding: 22px 15px;
          }
          @media screen and (max-width: 775px) {
            padding: 19px 15px;
          }
          .receive__guests__text{
            @media screen and (max-width: 1200px) {
              font-size: 11px;            
            }
            margin-left: 14px;
            font-size: 14px;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
            color: #fff;
          }
          .receive__guests__toggle{
            color: #ff2020;
          }
          .slider{
            display: inline-block;
            position: relative;
            .switch__base{
              width: 41px;
              height: 21px;
              background: url(../images/switch_base.png) center center no-repeat;
            }
            .switch__button{
              transition: all .4s;
              cursor: pointer;
              top: 50%;
              left: -5px;
              position: absolute;
              width: 31px;
              height: 31px;
              background: url(../images/switch_button.png) center center no-repeat;
              transform: translateY(-50%)
            }
          }
          .slider__toggle{
            .switch__button{
              transition: all .4s;
              top: -20%;
              transform: translateX(80%)
            }
          }
        }
        .login{
          &.drop{
            @media screen and (max-width: 1030px) {
              padding: 0;
            }
          }
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 10px;
          .user__name{
            @media screen and (max-width: 1200px) {
              font-size: 11px;            
            }
          }
          .user__avatar{
            @media screen and (max-width: 1030px) {
              flex: 1 0 auto;
            }
            position: relative;
            margin-right: 8px;
            //overflow: hidden;
            img{
              border-radius: 50%;
              width: 45px;
              height: 45px;
              display: inline-block;
              max-width: 100%;
            }
            &:after{
              z-index: 100;
              left: 50%;
              width: 9px;
              height: 5px;
              content: "";
              position: absolute;
              top: 57px;
              right: 3px;
              transform: translateX(-50%);
              background: url(../images/arrow-drop.png);
            }
          }
          &.drop:after{
            content: none;
          }
          &.drop:hover{
            .child{
              @media screen and (max-width: 1030px) {
                top: 74px;
                left: -7px;
              }
              /* display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-between; */
              @media screen and (max-width: 767px) {
                left: -60px;
                &:after{
                  left: 65px;
                }
              }
              left: 0;
            }
          }
        }
        .drop{
          &:hover{
            .child.lang-cild{
              left:-90px;
              width: 160px;
              &::after{
                right: 20px;
                left: auto;
              }
            }
          }
        }
      }
    }
  }
}
// .mess-icon {
//   position: relative;
//   float: left;
//   padding-top: 20px;
// }
// .quant {
//   width: 10px;
//   height: 10px;
//   position: absolute;
//   top: -10px;
//   right: 21px;
//   font-size: 12px;
//   color: #c0253d;
// }
// .child-mess {
//   width: 175px;
// }

// .tab-content .active {
//   display: block !important;
// }
// .tab-pane {
//   display: none;
// }
