.wrapper {
  .header {
    height: 105px;
    background-color: $dark_gray;
    //background-color: #022a3c;
    color: #fff;
    line-height: 105px;
    font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 16px;
    .logo {
      width: 120px;
      height: 70px;
      text-align: center;
      line-height: 100px;
      float: left;
    }
    .nav {
      float: right;
      margin-right: 2%;
      max-height: 105px;
      ul {
        float: left;
        li {
          float: left;
          padding: 0 10px;
          a {
            color: #fff;
            &:hover {
              opacity: 0.5;
            }
          }
          .child {
            width: 280px;
            background: #022a3c;
            padding: 5px;
            position: absolute;
            top: 106px;
            left: -9999px;
            z-index: 3;
            border-radius: 5px;
            &::after {
              content: '';
              position: absolute;
              left: 20px; top: -20px;
              border: 10px solid transparent;
              border-bottom: 10px solid #232b38;
            }
            li {
              a {
                color: #788090;
              }
              .active {
                color: #fff;
              }
            }
          }
          .lang-cild {
            width: 40px;
            li {
              float: none;
              line-height: 35px;
            }
          }
        }
        .tumbl {
          position: relative;
          padding-left: 65px;
          &:after {
            content: "";
            position: absolute;
            top: 40px;
            left: 10px;
            width: 40px;
            height: 30px;
            background: url(../images/tumbl.png);
          }
          &:hover {
            background: #23282f;
          }
        }
        .drop {
          padding-right: 15px;
          position: relative;
          &:after {
            width: 9px;
            height: 5px;
            content: "";
            position: absolute;
            top: 50px;
            right: 3px;
            background: url(../images/arrow-drop.png);
          }
          .drop-icon {
            padding-right: 15px;
            position: relative;
            &:after {
              top: 20px;
              left: 20px;
              display: none;
            }
          }
          &:hover .child {
            left: auto;
          }
        }
        .icons {
          //padding-top: 15px;
        }
        .button {
          padding-top: 20px;
          .reg {
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            color: #fff;
          }
        }

      }
    }
  }
}
.mess-icon {
  position: relative;
  float: left;
  padding-top: 20px;
}
.quant {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 21px;
  font-size: 12px;
  color: #c0253d;
}
.child-mess {
  width: 175px;
}

.tab-content .active {
  display: block !important;
}
.tab-pane {
  display: none;
}
