.wrapper {
  .header {
    .hover{
      display: none;
    }
    height: 105px;
    background-color: $dark_gray;
    color: #fff;
    line-height: 105px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    .logo {
      width: 120px;
      height: 70px;
      text-align: center;
      line-height: 100px;
      float: left;
    }
    .nav {
      float: right;
      margin-right: 2%;
      max-height: 105px;
      ul {
        float: left;
        li {
          float: left;
          padding: 0 10px;
          a {
            color: #fff;
            &:hover {
              opacity: 0.5;
            }
          }
          .child {
            width: 280px;
            background: #022a3c;
            padding: 5px;
            position: absolute;
            top: 106px;
            left: -9999px;
            z-index: 3;
            border-radius: 5px;
            &::after {
              content: '';
              position: absolute;
              left: 20px; top: -20px;
              border: 10px solid transparent;
              border-bottom: 10px solid #232b38;
            }
            li {
              line-height: 40px;
              display: block;
              float: none;
              a {
                i{
                  margin-right: 15px;
                }
                color: #788090;
              }
              .active {
                color: #fff;
              }
            }
          }
          .lang-cild {
            width: 40px;
            li {
              float: none;
              line-height: 35px;
            }
          }
        }
        .tumbl {
          position: relative;
          padding-left: 65px;
          &:after {
            content: "";
            position: absolute;
            top: 40px;
            left: 10px;
            width: 40px;
            height: 30px;
            background: url(../images/tumbl.png);
          }
          &:hover {
            background: #23282f;
          }
        }
        .drop {
          padding-right: 15px;
          position: relative;
          &:after {
            width: 9px;
            height: 5px;
            content: "";
            position: absolute;
            top: 50px;
            right: 3px;
            background: url(../images/arrow-drop.png);
          }
          .drop-icon {
            padding-right: 15px;
            position: relative;
            &:after {
              top: 20px;
              left: 20px;
              display: none;
            }
          }
          &:hover .child {
            left: auto;
          }
        }
        .icons {
          &:hover, &:active, &:focus{
            cursor: pointer;
            img{
              &.not__hover{
                display: none;
              }
              &.hover{
                display: block;
              }
            }
            padding-top: 35px;
          }
          //padding-top: 35px;
          &.button{
            position: relative;
            padding-top: 4px;
            &:hover, &:active, &:focus{
              padding-top: 4px;
            }
            .number__posts{
              position: absolute;
              top: -7px;
              left: 52px;
              font-family: "Roboto", sans-serif;
              font-size: 11px;
              font-weight: 500;
              color: #ff2020;
            }
          }
        }
        .button {
          padding-top: 20px;
          margin-right: 10px;
          .reg {
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            color: #fff;
          }
        }
        .receive__guests{
          background-color: #22272E;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0px 25px;
          .receive__guests__text{
            margin-left: 14px;
            font-size: 14px;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
            color: #fff;
          }
          .receive__guests__toggle{
            color: #ff2020;
          }
          .slider{
            display: inline-block;
            position: relative;
            .switch__base{
              width: 41px;
              height: 21px;
              background: url(../images/switch_base.png) center center no-repeat;
            }
            .switch__button{
              transition: all .4s;
              cursor: pointer;
              top: 50%;
              left: -5px;
              position: absolute;
              width: 31px;
              height: 31px;
              background: url(../images/switch_button.png) center center no-repeat;
              transform: translateY(-50%)
            }
          }
          .slider__toggle{
            .switch__button{
              transition: all .4s;
              top: -20%;
              transform: translateX(80%)
            }
          }
        }
        .login{
          padding: 0 15px;
          .user__avatar{
            width: 45px;
            height: 45px;
            img{
              max-width: 100%;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
.mess-icon {
  position: relative;
  float: left;
  padding-top: 20px;
}
.quant {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 21px;
  font-size: 12px;
  color: #c0253d;
}
.child-mess {
  width: 175px;
}

.tab-content .active {
  display: block !important;
}
.tab-pane {
  display: none;
}
