.inbox-wrapper {
  &.block-content {
    padding-top: 0;
    .block-row {
      .inner {
        padding: 0 0 16px;
      }
    }
  }
}
.inbox-table {
  display: table;
  width: 100%;
  a {
    color: #59656c;
    &:hover {
      color: #000;
    }
  }
  .inbox-table-head {
    display: table-header-group;
    @media(max-width: 767px) {
      display: none;
    }
  }
  .inbox-table-body {
    display: table-row-group;
    @media(max-width: 640px) {
      display: block;
    }
  }
  .inbox-table-head-tr,
  .inbox-table-body-tr {
    display: table-row;
    @media(max-width: 640px) {
      display: block;
    }
  }
  .inbox-table-head-tr {
    background: #f5f5f5 url(../images/inbox_table_bg.png) repeat-x 50% 100%;
  }
  .inbox-table-body-tr {
    &:hover {
      background-color: #e5e5e5;
      a {
        color: #c0253d;
      }
      .inbox-messages {
        span {
          background-color: $dark_red;
        }
      }
    }
    &:nth-child(even) {
      background-color: #f4f4f4;
    }
  }
  .inbox-table-head-th,
  .inbox-table-body-td {
    display: table-cell;
    vertical-align: middle;
    @media(max-width: 640px) {
      display: block;
    }
    .title {
      text-transform: none;
      @media(max-width: 640px) {
        display: inline-block;
        font-weight: 600;
        &:after {
          content: ": ";
          margin-right: 5px;
        }
      }
    }
    &.inbox-from {
      width: 170px;
      @media(max-width: 640px) {
        width: auto;
        padding: 10px 15px 0;
      }
    }
    &.inbox-title{
      width: 470px;
      @media(max-width: 640px) {
        width: auto;
        padding: 0 15px;
      }
    }
    &.inbox-messages {
      width: 120px;
      text-align: center;
      span {
        background-color: $green_bg;
        color: #fff;
        padding: 5px 15px;
        border-radius: 4px;
        @media(max-width: 640px) {
          padding: 3px 10px;
          margin: 2px 0;
        }
      }
      @media(max-width: 640px) {
        width: auto;
        padding: 0 15px;
        text-align: left;
      }
    }
    &.inbox-last {
      width: 130px;
      text-align: center;
      @media(max-width: 640px) {
        width: auto;
        padding: 0 15px 10px;
        text-align: left;
        .date,
        .time {
          display: inline-block;
        }
        .time {
          &:before {
            content: ' - ';
          }
        }
      }
      .title {
        text-transform: none;
        @media(max-width: 640px) {
          display: inline-block;
        }
      }
    }
  }

  .inbox-table-head-th {
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 25px 25px;
  }
  .inbox-table-body-td {
    padding: 15px 25px;
    @media(max-width: 992px) {
      padding: 10px 15px;
    }
    &.inbox-last {
      font-size: 12px;
      text-transform: uppercase;
    }
  }

}
