section#browse{
	padding-top: 15px;
	padding-bottom: 100px;
	.olp {
		font-family: 'MyriadPro', sans-serif;
		text-align: center;
		font-weight: 700;
		font-size: 30px;
		margin-bottom: 55px;
		line-height: 1.5em;
		.bro{
			text-decoration: underline;
			color: #cf2800;
		}
	}
	.car{
		padding-bottom: 0;
		.item{
			text-align: center;
			.neo{
				display: block;
				margin: 22.5px 0;
				font-size: 42px;
				color: #000;
				text-align: center;
			}
		}
	}
}

section#directory{
	background: #F5F5F5;
	padding-bottom: 100px;
	.sect__caption{
		//margin-left: 6px;
		padding-left: 20px;
		border-left: 6px solid #D80628;
	}
	.popular__cities{
		font-family: 'MyriadPro', sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #727272;
		margin-top: 100px;
	}
	.locations{
		font-family: 'Poppins', sans-serif;
		font-size: 42px;
		font-weight: 100;
		color: #222222;
		margin-top: 20px;
		.by{
			font-weight: 700;
		}
		.toch{
			color: #cd2a00;
		}
	}

	.nav-tabs{
		margin-top: 110px;
		border-bottom: none;
		a{
			text-align: center;
			display: inline-block;
			color: #222222;
			width: 225px;
			padding: 27px 0px;
			font-weight: 700;
			font-size: 16px;
			box-shadow: 2px 2px 5px rgba(202, 210, 217, 1);
			border-left: 1px solid #cad2d9;
			border-top: 1px solid #cad2d9;
			border-bottom: 1px solid #cad2d9;
			border-right: none;
			border-radius: 5px 0px	0px 5px;
			&:nth-child(2){
				border-radius: 0px 5px	5px 0px;
				border-right: 1px solid #cad2d9;
				border-top: 1px solid #cad2d9;
				border-bottom: 1px solid #cad2d9;
				border-left: none;
			}
		}
	}
	.actives{
		color: #fff!important;
		background-color: #D80628;
		box-shadow: inset 1px 1px 5px rgba(78, 150, 255, 1);
	}
	.tab-content{
		margin-top: 60px;
		.location__paddig__right{
			padding-left: 0;
			padding-right: 3px;
		}
		.location__left{
			position: relative;
			height: 452px;
			background: url(../images/trip5.jpg) center center;
			background-size: cover;
			padding: 40px;
			color: #fff;
		}
		.location__right{
			position: relative;
			height: 452px;
			background: url(../images/trip2.jpg) center center;
			background-size: cover;
			padding: 40px;
			color: #fff;
		}
		.location__paddig__left{
			padding-left: 3px;
			.location{
				margin-top: 0;
				&.half__left{
					background: url(../images/trip4.jpg) center 0;
					background-size: cover;
				}
				&.half__right{
					background: url(../images/trip4.jpg) center 0;
					background-size: cover;
				}
			}
			.location__right{
				margin-top: 6px;
			}

		}
		.location{
			margin-top: 6px;
			padding: 40px;
			height: 214px;
			&.half__left{
				background: url(../images/trip3.jpg) center 0;
				background-size: cover;
			}
			&.half__right{
				background: url(../images/trip1.jpg) center 0;
				background-size: cover;
			}
		}
		.location__half__right{
			padding: 40px;
			height: 214px;
			background: url(../images/trip3.jpg) center center;
			background-size: 100%;
		}
		.score{
			font-family: 'MyriadPro', sans-serif;
			font-size: 16px;
			font-weight: 400;
			color: #fff;
			text-align: left;
		}
		.zen{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		.half__paddin__right{
			padding-right: 3px; 
		}
		.half__paddin__left{
			padding-left: 3px; 
		}
	}
}

section#reviews {
	background: #002d42;
   padding: 94px 0;
   .owls {
   	position: relative;
	   .item{
	   	.sectimg {
				width: 100px;
				height: 100px;
				float: left;
				margin-right: 20px;
				div{
					border-radius: 50%;
					background: url(../images/otzyvy.jpg) 10% 40%;
					background-size: 223px;
					width: 100%;
					height: 100%;
				}
			}
			.secttext {
				width: 89%;
				float: left;
				p{
					color: #fff;
					font-family: 'Poppins', sans-serif;
					font-size: 21px;
					line-height: 1.5em;
				}
				.sectext1 {
					margin-top: 30px;	
					font-family: 'Poppins', sans-serif;
					position: relative;
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: 12px;
						background: #cf2800;
						width: 30px;
						height: 2px;
					}
					p{
						font-size: 18px;
						padding-left: 52px;
						margin-bottom: 8px;
					}
					span{
						font-size: 14px;
						padding-left: 52px;
						color: #8f8f8f;
					}
				}
			}
	   }
      .owl-dots{
   		position: absolute;
   		right: 0;
   		bottom: 0;
      }
      .owl-dot {
      	display: inline-block;
      	margin: 0 6px;
      	span{
				width: 15px;
      		height: 15px;
      		border-radius: 50%;
      		background: white;
      		display: block;
      	}
      	&.active{
      		span{
      			margin-top: 2px;
      			background: #cf2800;
      			width: 15px;
      			height: 15px;
      		}
      	}
      }
	}
}

section#recent {
	padding-bottom: 60px;
	.sect{
		border-left: 6px solid #d90429;
		padding-left: 28px;
		overflow: hidden;
		.sectleft {
			width: 55%;
		  	float: left;
		  	.pop {
		  		font-family: 'Poppins', sans-serif;
		  		font-size: 16px;
		  	   color: #727272;
		  		margin-top: 100px;
		  	}
		  	.dire {
		  		margin-top: 10px;	
		  	 	font-family: 'Poppins', sans-serif;
		  	 	font-size: 42px;
		  	 	line-height: 1.5em;
		  	 	.dir2 {
		  	 		font-family: 'Poppins', sans-serif;
		  	 	   font-weight: 900;
		  	 	}
		  	 	.toch {
		  	 		font-family: 'Poppins', sans-serif;
		  	 	   font-weight: 900;
		  	 		color: #d90429;
		  	 	}
		  	}
		}
		.sectright {
			width: 45%;
		   float: left;
		   text-align: right;
		   height: 69px;
		   line-height: 68px;
		   margin-top: 129px;
		}
		.sel{
			height: auto;
			div{
				overflow: hidden;
				position: relative;
				box-shadow: none !important;
				box-sizing: border-box;
				border: 1px solid #ccc;
				font-family: 'MyriadPro', sans-serif;
				font-weight: normal;
				width: 41%;
				padding: 0;
				border-radius: 4px;
				outline: none;
				height: 35px;
				line-height: 35px;
				display: inline-block;
				margin-left: 40px;
				&:after{
					content: '+';
					position: absolute;
					right: 25px;
					top: 8px;
					cursor: pointer;
					width: 15px;
					height: 15px;
					line-height: 13px;
					font-size: 16px;
					text-align: center;
				}
				p{

					text-align: left;
					color: #727272;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					margin: 0;
					padding: 0 20px;
					box-sizing: border-box;
					color: #0a0a0a;
					font-size: 14px;
					line-height: 34px;
					overflow: hidden;
				}
				select{
					font-family: 'MyriadPro', sans-serif;
					position: relative;
					z-index: 999999;
					cursor: pointer;
					opacity: 0;
					width: 100%;
					height: 100%;
					outline: none;
				}
			}
		}
	}
}

section#recent__carusel{
	.tov{
		.item{

		}
	}
}

.tov {
	padding-top: 62px;
   padding-bottom: 102px;
   background: #fff;
}
.tov .owl-prev {
	left: 25px;
}
.tov .owl-next {
	right: 25px;
}
.tov .owl-nav > div {
    position: absolute;
    top: 26%;
}
.hid {
	display: none
}
.tov .owl-next:hover {
	display: block !important;
    background: url(../images/17.png);
    width: 60px;
    height: 60px;	
}
.the {
    text-align: center;
	background: #cf2800;
    color: #fff;
    font-family: Poppins;
    font-weight: 900;
    font-size: 10px;
    line-height: 20px;
}
.hot {
    text-align: center;
	background: #5cc1ff;
    color: #fff;
    font-family: Poppins;
    font-weight: 900;
    font-size: 10px;
    line-height: 20px;
}
.sale {
    text-align: center;
	background: #ff9d5a;
    color: #fff;
    font-family: Poppins;
    font-weight: 900;
    font-size: 10px;
    line-height: 20px;
}
.caption {
	padding: 25px;
    box-sizing: border-box;
	background: #f6f6f6;
	height: 198px;
}
.ratting {
	width: 50%;
    float: left;
}
.check {
	text-align:right;
	width: 50%;
    float: left;
}
.hidden {
	position: relative;
    top: 2px;
}
.ratting i {
	color: #d02800;
}
.h3 {
	font-family: mpb;
    font-weight: 300;
    font-size: 21px;
	margin-bottom: 15px;
}
.ret {
	overflow: hidden;
    margin-bottom: 22px;
}
.btn-group {
	display: table;
    width: 100%;
}
.btn {
	color: #6e6e6e !important;
	display: table-cell !important;
	box-sizing: border-box;
    padding: 6px 16px;
    background: #f1f1f1;
    border: 1px solid #fff;
}
.green {
	color: #18c757 !important;
	font-family: Poppins;
    font-size: 12px;
}
.red {
	color: #d1310c !important;
	font-family: Poppins;
    font-size: 12px;
}
.tov .item {
	border-right: 1px solid #fff;
}
.fyt {
	text-align: center;
	color: #fff;
    font-family: mpb;
    font-size: 32px;
}

