section#browse{
	padding-top: 15px;
	padding-bottom: 100px;
	.olp {
		font-family: 'MyriadPro', sans-serif;
		text-align: center;
		font-weight: 700;
		font-size: 30px;
		margin-bottom: 55px;
		line-height: 1.5em;
		.bro{
			text-decoration: underline;
			color: #cf2800;
		}
	}
	.car{
		padding-bottom: 0;
		.item{
			text-align: center;
			.neo{
				display: block;
				margin: 22.5px 0;
				font-size: 42px;
				color: #000;
				text-align: center;
			}
		}
	}
}

section#directory{
	background: #F5F5F5;
	padding-bottom: 100px;
	.sect__caption{
		//margin-left: 6px;
		padding-left: 20px;
		border-left: 6px solid #D80628;
	}
	.popular__cities{
		font-family: 'MyriadPro', sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #727272;
		margin-top: 100px;
	}
	.locations{
		font-family: 'Poppins', sans-serif;
		font-size: 42px;
		font-weight: 100;
		color: #222222;
		margin-top: 20px;
		.by{
			font-weight: 700;
			line-height: 1.5em;
		}
		.toch{
			color: #cd2a00;
		}
	}

	.nav-tabs{
		margin-top: 110px;
		border-bottom: none;
		a{
			text-align: center;
			display: inline-block;
			color: #222222;
			width: 225px;
			padding: 27px 0px;
			font-weight: 700;
			font-size: 16px;
			box-shadow: 2px 2px 5px rgba(202, 210, 217, 1);
			border-left: 1px solid #cad2d9;
			border-top: 1px solid #cad2d9;
			border-bottom: 1px solid #cad2d9;
			border-right: none;
			border-radius: 5px 0px	0px 5px;
			&:nth-child(2){
				border-radius: 0px 5px	5px 0px;
				border-right: 1px solid #cad2d9;
				border-top: 1px solid #cad2d9;
				border-bottom: 1px solid #cad2d9;
				border-left: none;
			}
		}
	}
	.actives{
		color: #fff!important;
		background-color: #D80628;
		box-shadow: inset 1px 1px 5px rgba(78, 150, 255, 1);
	}
	.tab-content{
		margin-top: 60px;
		.location__paddig__right{
			padding-left: 0;
			padding-right: 3px;
		}
		.location__left{
			position: relative;
			height: 452px;
			background: url(../images/a9a1d433-bcde-4601-88a0-5f16871b8548.jpg) center center;
			background-size: cover;
			padding: 40px;
			color: #fff;
			&:before{
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 113px;
				height: 110px;
				background: url(../images/12.png);
			}
		}
		.location__right{
			position: relative;
			height: 452px;
			background: url(../images/285e91af-af15-48db-98f8-c893c4de3620.jpg) center center;
			background-size: cover;
			padding: 40px;
			color: #fff;
		}
		.location__paddig__left{
			padding-left: 3px;
			.location{
				margin-top: 0;
				&.half__left{
					background: url(../images/1494ed7e-9e3a-474b-9db6-bc150874fec7.jpg) center 0;
					background-size: cover;
				}
				&.half__right{
					background: url(../images/1494ed7e-9e3a-474b-9db6-bc150874fec7.jpg) center 0;
					background-size: cover;
				}
			}
			.location__right{
				margin-top: 6px;
			}

		}
		.location{
			margin-top: 6px;
			padding: 40px;
			height: 214px;
			&.half__left{
				background: url(../images/456e1325-74b4-4ec6-a1e5-ecf48c2ef507.jpg) center 0;
				background-size: cover;
			}
			&.half__right{
				background: url(../images/195e8dda-b8c3-4950-8a19-595dac4fdba1.jpg) center 0;
				background-size: cover;
			}
		}
		.location__half__right{
			padding: 40px;
			height: 214px;
			background: url(../images/456e1325-74b4-4ec6-a1e5-ecf48c2ef507.jpg) center center;
			background-size: 100%;
		}
		.score{
			font-family: 'MyriadPro', sans-serif;
			font-size: 16px;
			font-weight: 400;
			color: #fff;
			text-align: left;
		}
		.zen{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		.half__paddin__right{
			padding-right: 3px; 
		}
		.half__paddin__left{
			padding-left: 3px; 
		}
	}
}

section#reviews {
	background: #002d42;
   padding: 94px 0;
   .owls {
   	position: relative;
	   .item{
	   	.sectimg {
				width: 100px;
				height: 100px;
				float: left;
				margin-right: 20px;
				div{
					border-radius: 50%;
					background: url(../images/otzyvy.jpg) 10% 40%;
					background-size: 223px;
					width: 100%;
					height: 100%;
				}
			}
			.secttext {
				width: 89%;
				float: left;
				p{
					color: #fff;
					font-family: 'Poppins', sans-serif;
					font-size: 21px;
					line-height: 1.5em;
				}
				.sectext1 {
					margin-top: 30px;	
					font-family: 'Poppins', sans-serif;
					position: relative;
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: 12px;
						background: #cf2800;
						width: 30px;
						height: 2px;
					}
					p{
						font-size: 18px;
						padding-left: 52px;
						margin-bottom: 8px;
					}
					span{
						font-size: 14px;
						padding-left: 52px;
						color: #8f8f8f;
					}
				}
			}
	   }
      .owl-dots{
   		position: absolute;
   		right: 0;
   		bottom: 0;
      }
      .owl-dot {
      	display: inline-block;
      	margin: 0 6px;
      	span{
				width: 15px;
      		height: 15px;
      		border-radius: 50%;
      		background: white;
      		display: block;
      	}
      	&.active{
      		span{
      			margin-top: 2px;
      			background: #cf2800;
      			width: 15px;
      			height: 15px;
      		}
      	}
      }
	}
}

section#recent {
	padding-bottom: 60px;
	.sect{
		border-left: 6px solid #d90429;
		padding-left: 28px;
		overflow: hidden;
		.sectleft {
			width: 55%;
		  	float: left;
		  	.pop {
		  		font-family: 'Poppins', sans-serif;
		  		font-size: 16px;
		  	   color: #727272;
		  		margin-top: 100px;
		  	}
		  	.dire {
		  		margin-top: 10px;	
		  	 	font-family: 'Poppins', sans-serif;
		  	 	font-size: 42px;
		  	 	line-height: 1.5em;
		  	 	.dir2 {
		  	 		font-family: 'Poppins', sans-serif;
		  	 	   font-weight: 900;
		  	 	}
		  	 	.toch {
		  	 		font-family: 'Poppins', sans-serif;
		  	 	   font-weight: 900;
		  	 		color: #d90429;
		  	 	}
		  	}
		}
		.sectright {
			width: 45%;
		   float: left;
		   text-align: right;
		   height: 69px;
		   line-height: 68px;
		   margin-top: 129px;
		}
		.sel{
			height: auto;
			div{
				overflow: hidden;
				position: relative;
				box-shadow: none !important;
				box-sizing: border-box;
				border: 1px solid #ccc;
				font-family: 'MyriadPro', sans-serif;
				font-weight: normal;
				width: 41%;
				padding: 0;
				border-radius: 4px;
				outline: none;
				height: 35px;
				line-height: 35px;
				display: inline-block;
				margin-left: 40px;
				&:after{
					content: '+';
					position: absolute;
					right: 25px;
					top: 8px;
					cursor: pointer;
					width: 15px;
					height: 15px;
					line-height: 13px;
					font-size: 16px;
					text-align: center;
				}
				p{

					text-align: left;
					color: #727272;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					margin: 0;
					padding: 0 20px;
					box-sizing: border-box;
					color: #0a0a0a;
					font-size: 14px;
					line-height: 34px;
					overflow: hidden;
				}
				select{
					font-family: 'MyriadPro', sans-serif;
					position: relative;
					z-index: 10;
					cursor: pointer;
					opacity: 0;
					width: 100%;
					height: 100%;
					outline: none;
				}
			}
		}
	}
}

section#recent__carusel{
	.tov{
		padding-left: 1px;
		padding-right: 1px;
	   padding-bottom: 102px;
	   background: #fff;
	   .item{
	   	font-family: 'MyriadPro', sans-serif;
	   	font-size: 14px;
	   	width: 220px;
	   	height: 50px;
	   	line-height: 50px;
	   	color: #8d99ae;
	   	border-right: 1px solid #fff;
	   	//position: relative;
			.thu{
				img{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
				}
				position: relative;
				padding: 25px;
				height: 240px;
				box-sizing: border-box;
				background: #4c4c4c;
				color: #fff;
				.thuleft{
					position: relative;
					width: 50%;
					float: left;
					font-family: 'Poppins', sans-serif;
					font-weight: 900;
					color: #fff;
					//z-index: 999999;
				}
				.thuright{
					margin-top: 11px;
					position: relative;
					width: 50%;
					float: left;
					font-family: 'Poppins', sans-serif;
					font-weight: 900;
					text-align: right;
					//box-sizing: border-box;
					padding-left: 36px;
					.the {
						text-align: center;
						background: #cf2800;
						color: #fff;
						font-family: Poppins;
						font-weight: 900;
						font-size: 10px;
						line-height: 20px;
					}
				}
				.thucenter{
					position: absolute;
					width: 100%;
					box-sizing: border-box;
					left: 0;
					bottom: 0;
					height: 52px;
					line-height: 52px;
					background: #852737;
					color: #fff;
					padding: 0 25px;
					font-family: 'MyriadPro', sans-serif;
					font-size: 21px;
					i{
						font-size: 14px;
						color: #c06272;
						margin-right: 8px;
					}
				}
			}
			.caption{
				padding: 20px;
				box-sizing: border-box;
				background: #f6f6f6;
				height: 198px;
				div.h3{
					margin:0;
					color:#222222;
					font-size: 21px;
					font-family: 'MyriadPro', sans-serif;
				}
				p {
					margin-top: 0;
					margin-bottom: 15px;
				}
				.ret{
					overflow: hidden;
    				margin-bottom: 22px;
					.ratting {
						width: 50%;
					   float: left;
					   i{
					   	color: #d02800;
					   }
					}
					.check {
						text-align:right;
						width: 50%;
					   float: left;
					}
				}
			}
			.btn-group {
				//display: block;
			   width: 100%;
			   display: flex;
			   justify-content: space-between;
			   align-items: center;
			   height: 33px;
			   line-height: 33px;
			   .btn__link {
			   	flex: 1 1 62px;
					color: #6e6e6e;
					display: inline-block;
					background: #f1f1f1;
					border: 1px solid #fff;
					&:nth-child(1){
						flex:2 1 125px;
					}
			   }
			   .green {
			   	color: #18c757 !important;
			   	font-family: 'Poppins', sans-serif;
			      font-size: 12px;
			      font-weight: 500;
			      text-transform: uppercase;
			   }
			   .red {
			   	color: #d1310c !important;
			   	font-family: 'Poppins', sans-serif;
			       font-size: 12px;
			       font-weight: 500;
			       text-transform: uppercase;
			   }

			}
		}
		.owl-prev {
			left: 25px;
		}
		.owl-next {
			right: 25px;
		}
		.owl-nav{
			div {
				position: absolute;
				top: 26%;
			}
		}
		.owl-prev:hover {
			display: block !important;
			background: url(../images/14.png);
			width: 60px;
			height: 60px;	
		}
		.owl-next:hover {
			display: block !important;
			background: url(../images/17.png);
			width: 60px;
			height: 60px;	
		}
	}
}

section#find{
	background-color: #012C40;
	padding: 100px 0;
	.fyt{
		text-align: center;
		color: #fff;
		font-family: 'MyriadPro', sans-serif;
		font-size: 32px;
		.hos{
			color: #b12b10;
			font-weight: 900;
			font-size: 32px;
		}
	}
	.fyt2{
		text-align: center;
		color: #bababa;
		font-family: 'MyriadPro', sans-serif;
		font-size: 21px;
		margin-top: 27px;
	}
	.mob{
		display: flex;
		justify-content: center;	
		align-items: center;	
		overflow: hidden;
		margin-top: 54px;
		.mobleft, .mobright{
			display: inline-block;	
			.bef{
				position: relative;
				height: 68px;
				width: 260px;
				cursor: pointer;
				box-sizing: border-box;
				padding-left: 78px;
				border-radius: 4px;
				background: #4d6c7b;
				&:before{
					content: '';
					position: absolute;
					left: 65px;
					top: 0;
					width: 1px;
					height: 100%;
					background: #8297A2;
				}
				&:after{
					content: '';
					position: absolute;
					left: 19px;
					top: 19px;
					width: 28px;
					height: 33px;
					background: url(../images/18.png);
				}
				&>div{
					color: #fff;
					font-family: 'Poppins', sans-serif;
					font-size: 13px;
					padding-top: 13px;
				}
				.droid{
					color: #fff;
					font-family: 'Poppins', sans-serif;
					font-size: 18px;
					padding-top: 18px;
				}
			}
		}
		.mobright{
			margin-left: 20px;
			.bef{
				&:after{
					content: '';
					position: absolute;
					left: 19px;
					top: 19px;
					width: 28px;
					height: 33px;
					background: url(../images/19.png);
				}
			}
		}
	}

}

section#mail{
	padding: 60px 0;
	background: url(../images/20.png);
	.fyt{
		color: #000;
		text-align: center;
		font-family: 'MyriadPro', sans-serif;
		font-size: 32px;
		.hos {
			color: #b12b10;
			font-weight: 900;
			font-size: 32px;
		}
	}
	#fors{
		position: relative;
		padding-top: 50px;
		input{
			width: 65%;
			display: block;
			margin: auto;
			padding: 14px 0;
			background: none;
			outline: none;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #c0c0c0;
		}
		.sub{
			position: absolute;
			padding: 0 !important;
			width: 17px !important;
			height: 17px;
			border: none !important;
			position: absolute;
			right: 18%;
			top: 65px;
			outline: none;
			background: url(../images/21.png) !important;
		}
	}	 
}

section#partners{
	.partners__wrapper{
		padding-top: 70px;
		padding-bottom: 150px; 
		display: flex;
		justify-content: space-around;
		align-items: center;
		.ite{
			display: inline-block;
		}
	}
}