section#media{
	.active{
		margin-top: -1px;
		border: none;
	}
	.tabs__caption__wrapper{
		background-color: #EFEEEE;
	}
	.m_add {
		font-size: 22px;
		font-family: 'MyriadPro', sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		//margin-top: 40px;
		//margin-bottom: 15px;
		padding-top: 125px;	
		padding-bottom: 170px;
		background-color: #4B4B4B;
		color: #fff;
		text-align: center;
	}
	.circle__tab{
		position: relative;
		top: 3px;
		margin-right: 15px;	
		display: inline-block;
		width: 17px;
		height: 17px;
		border: 2px solid #222A37;
		background-color:#EFEEEE;
		border-radius: 50%;
		@media screen and (max-width: 992px) {
			margin-right: 5px;
		}
	}
	.select__mt__xs{
		@media screen and (max-width: 992px) {
			margin-top: -2px !important;
			//margin-bottom: -2px !important;
		}
		margin-top: 5px;
	}
	.m_sectright{
		display: table;
		width: 100%;
		a{
			span{
				@media screen and (max-width: 992px) {
					font-size: 12px;
				}
			}
			.fa-check-circle-o{
				display: none;	
				position: relative;
				top: 2px;	
				font-size: 20px;
				margin-right: 15px;
				@media screen and (max-width: 992px) {
					margin-right: 5px;
				}	
			}
			letter-spacing: 0.1em;
			text-transform: uppercase;	
			display: table-cell;
			background: #EFEEEE;
			padding: 16px 0;
			text-align: center;
			color: #222A37;
			border: none;
			outline: none;
			&.actives{
				background: #222a37 !important;
				box-shadow: none;
				color: #fff;
				.circle__tab{
					display: none;	
				}
				.fa-check-circle-o{
					display: inline-block	;
				}
			}
		}
	}
	.youtube {
		margin-bottom: 20px;
		background: #f0eeef;
		margin-top: 20px;
		display: block;
		text-align: center;
		.m_you{
			font-size: 18px;
			font-family: 'MyriadPro', sans-serif;
			color: #6f6f6f;
			padding: 34px 36px;
		}
	}
	#v_cent2{
		#training_title{
			height: 80px;
			width: 100% ;
			background-color: #EFEEEE;
			border: none;
			outline: none;
			padding-left: 30px;
			color:#232b38;
		}
		#training_description{
			margin-top: 40px;
			height: 177px;	
			width: 100% ;
			color:#232b38;
			background-color: #EFEEEE;
			border: none;
			outline: none;
			padding: 30px;	
		}
	}
	#v_cent4{
		#coach_rules{
			height: 165px;	
			width: 100% ;
			color:#232b38;
			background-color: #EFEEEE;
			border: none;
			outline: none;
			padding: 30px;	
		}
	}
	.tabs {
		background: #222A37;
		display: block;
		padding: 40px 0;
	}
	.tab__caption__wrapper{
		background: #222a37;
	}
	.m_h4 {
		font-size: 20px;
		font-family: 'MyriadPro', sans-serif;
		font-weight: 900;
		padding: 0 36px;
		color: #fff;
		padding-top: 40px;
		margin-bottom: 15px;
		background: #222a37;
		i{
			color: yellow;
		}
		a{
			color: yellow;
			color: yellow;
			font-size: 20px;
			font-family: 'MyriadPro', sans-serif;
			font-weight: 900;
		}
	}
	.m_div {
		background: #222a37;
		font-size: 19px;
		font-family: 'MyriadPro', sans-serif;
		color: #fff;
		padding: 0 36px 40px;
		.m_i {
		   float: right;
		   color: yellow;
		}
		.comp{
			color: #fff;
		}
	}
	.m_but{
		cursor: pointer;
		padding: 16px 42px;
		margin-top: 16px;
		background: #d6d606;
		color: #fff;
		font-size: 20px;
		font-family: 'mpb', sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		border-radius: 4px;
	}

	// pricing.html

	.p_over {
		overflow: hidden;
		padding: 0 10px;
		.usd, .term, .term2, .term3, .term4, .term5 {
			p{
				@media screen and (max-width: 1200px) {
					font-size: 15px;
				}
				margin: 0;
				padding: 18px 34px;
				background: #f0eeef;
				font-size: 20px;
				color: #6f6f6f;
				font-family: 'MyriadPro', sans-serif;
			}
		}
		.lab {
			font-family: 'MyriadPro', sans-serif;
			font-weight: 600;
			font-size: 22px;
			color: #222a37;
			margin-top: 45px;
			margin-bottom: 20px;
		}
		.usd, .npr, .npr2, .term, .term2, .term3, .term4, .term5, .term6 {
			position: relative;
			width: 33%;
			float: left;
			margin-right: 36px;
			height: 60px;
			background: #f0eeef;
			@media screen and (max-width: 767px) {
				width: 100%;
			}
			select{
				cursor: pointer;
				top: 0;
				position: absolute;
				border: none;
				background: #f0eeef;
				width: 100%;
				padding: 18px 25px;
				outline: none;
				opacity: 0;
			}
			input{
				height: 60px;
				width: 100%;
				margin: 0;
				border: none;
				width: 100%;
				box-sizing: border-box;
				padding: 18px 17px;
				background: #f0eeef;
				font-family: 'MyriadPro', sans-serif;
				font-size: 20px;
				color: #6f6f6f;
				@media screen and (max-width: 1200px) {
					font-size: 15px;
					padding: 18px 15px;
				}
			}
		}
		.npr{
			@media screen and (max-width: 767px) {
				margin-top: 20px;
			}
		}
		.npl{
			margin-top: 36px;
			@media screen and (max-width: 767px) {
				margin-top: 50px;
			}
		}
		.pp_a, .pp_end{
			@media screen and (max-width: 767px) {
				float: none;
				width: 100%;
			}
			a{
				@media screen and (max-width: 767px) {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
		.pp_a{
			@media screen and (max-width: 767px) {
				margin-top: 160px;
			}
			a{
				@media screen and (max-width: 767px) {
					margin-top: 30px;
				}
			}
		}
		.npr, .npr3{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				background: #222c38;
				width: 60px;
				height: 60px;
			}
			&:after{
				content: 'USD';
				position: absolute;
				top: 18px;
				right: 12px;
				font-size: 21px;
				font-family: 'MyriadPro', sans-serif;
				font-size: 20px;
				color: #ffffff;
			}
		}
		.usd:before, .p_sel:before, .p_sel2:before, .p_sel3:before, .p_sel4:before, .term:before, .term2:before, .term3:before, .term4:before, .term5:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			background: #eebf00;
			width: 60px;
			height: 100%;
		}
		.usd:after, .p_sel:after, .p_sel2:after, .p_sel3:after, .p_sel4:after, .term:after, .term2:after, .term3:after, .term4:after, .term5:after {
			content: '';
			position: absolute;
			top: 27px;
			right: 26px;
			background: url(../images/4.png);
			width: 9px;
			font-size: 21px;
			height: 5px;
		}
		.pp_a, .pp_end {
			width: 16.5%;
			float: left;
		}
		.pp_a{
			a{
				margin-right: 10px;
				border: none;
				display: block;
				box-sizing: border-box;
				padding: 20px 25px;
				background: #f0eeef;
				font-family: 'MyriadPro', sans-serif;
				font-size: 20px;
				color: #6f6f6f;
				@media screen and (max-width: 1200px) {
					font-size: 13px;
					padding: 18px 15px;
				}
			}
		}
		.pp_end{
			a{
				color: #fff !important;
				margin-left: 10px;
				border: none;
				display: block;
				box-sizing: border-box;
				padding: 20px 25px;
				background: #eebf00;
				font-family: 'MyriadPro', sans-serif;
				font-size: 20px;
				color: #6f6f6f;
				@media screen and (max-width: 1200px) {
					font-size: 13px;
					padding: 18px 15px;
				}
			}
		}
		.npr2{
			margin-top: 6px;
			width: 24%;
			margin-right: 12px;
		}
		.p_sel, .p_sel2, .p_sel3, .p_sel4, .npr3 {
			background: #f0eeef;
			position: relative;
			width: 14%;
			float: left;
			margin-top: 6px;
			height: 60px;
			overflow: hidden;
			p{
				@media screen and (max-width: 1200px) {
					font-size: 13px;
					padding: 18px 15px;
				}
				margin: 0;
				padding: 18px 20px;
				background: #f0eeef;
				font-family: 'MyriadPro', sans-serif;
				font-size: 20px;
				color: #6f6f6f;
			}
			select{
				display: inline-block;
				position: absolute !important;
				border: none;
				outline: none;
				position: absolute;
				top: 0;
				background: #f0eeef;
				cursor: pointer;
				width: 100% !important;
				padding: 20px 0;
				opacity: 0;
			}
		}
		.npr2{
			@media screen and (max-width: 767px) {
				margin-bottom: 6px;
			}
		}
		.p_sel, .p_sel2{
			margin-right: 6px;
			@media screen and (max-width: 767px) {
				float: none;
				width: 100%;
			}
		}
		.p_sel3, .p_sel4{
			margin-right: 6px;
			@media screen and (max-width: 767px) {
				float: none;
				width: 100%;
			}
		}
		.npr3 {
			@media screen and (max-width: 767px) {
				float: none;
				width: 100%;
			}
			input{
				height: 100%;
				margin: 0;
				border: none;
				width: 100%;
				box-sizing: border-box;
				padding: 18px 34px;
				background: #f0eeef;
				font-family: 'MyriadPro', sans-serif;
				font-size: 20px;
				color: #6f6f6f;
				@media screen and (max-width: 1200px) {
					font-size: 13px;
					padding: 18px 15px;
				}
			}
		}
		.v_con {
			float: left;
			padding: 20px 54px;
			background: #4c4c4c;
			color: #fff;
			margin-top: 44px;
			.v_pl {
				text-align: center;
				position: relative;
				top: 4px;
				left: -6px;
				text-align: center;
				line-height: 18px;
				width: 20px;
				height: 20px;
				float: left;
				font-size: 19px;
				border-radius: 50%;
				border: 1px solid #fff;
			}
			a {
				color: #fff;
				font-family: 'MyriadPro', sans-serif;
				font-size: 24px;
			}
		}
		.term{
			@media screen and (max-width: 767px) {
				margin-bottom: 6px;
			}
			&3,&4,&5,&6{
				margin-top: 36px;
			}
			&6{
				height: 136px;
				input{
					margin: 0;
					width: 100%;
					height: 136px;
					box-sizing: border-box;
					padding: 0 34px;
					background: #f0eeef;
					font-family: 'mpb', sans-serif;
					font-size: 20px;
					color: #6f6f6f;
					border: none;
				}
			}
		}
	}
	.p_ove2{
		margin-bottom: 100px;
		@media screen and (max-width: 767px) {
			margin-bottom: 140px;
		}
		.term{
			&7{
				position: relative;
				padding: 0 10px;
				.v_lef {
					@media screen and (max-width: 767px) {
						width: 50%;
						top: 20px;
					}
					position: absolute;
					top: -48px;
					float: left;
					background: #eebf00;
					color: #fff;
					width: 15%;
					height: 50px;
					line-height: 50px;
					text-align: center;
					a {
						color: #fff;
						text-transform: uppercase;
						font-family: 'MyriadPro', sans-serif;
						font-weight: 600;
					}
				}
			} 
		}
	}

	/* ======= tab location ======= */

	.tab-content{
		min-height: 1800px;
		.tab__caption{
			font-family: 'MyriadPro', sans-serif;
			font-weight: 600;
			font-size: 22px;
			color: #222a37;
			margin-top: 45px;
			//margin-bottom: 20px;
			line-height: 1.5em;	
			span{
				font-size: 17px;
				font-weight: 300;		
			}
			.caption__commit{
				font-family: 'MyriadPro', sans-serif;
				font-size: 18px;
				font-weight: 300;
				margin-top: 30px;
				line-height: 1.8em;
				span{
					color: #A0152B;
				}
			}
		}
		.select__street{
			@media screen and (max-width: 992px) {
				margin-top: 40px;
			}
		}
		.map-wrapper{
			margin-top: -135px;
			@media screen and (max-width: 767px) {
				margin-top: 0px;
			}
			#map.contact{
				height: 490px;
			}
		}
		.select__mt{
			margin-top: 35px;
			@media screen and (max-width: 992px) {
				margin-top: 3px;	
			}	
		}
		.h__a{
			height: auto;
		}
		#directions_optional{
			height: 178px !important;
			width: 100%;
		}
		.map__address{
			i{
				color: #EDBE14;
				margin-right: 15px;
			}
			text-align: center;
			font-family: 'MyriadPro', sans-serif;
			font-size: 18px;
			font-weight: 300;
			color: #fff;
			height: 100px;
			width: 100%;
			background: #222A37;
			opacity: 0.9;
			line-height: 1.5em;
			padding: 20px;
		}

		/* ======= tab basics ======= */

		.specials{
			label{
				i{
					margin-right: 3px;
					margin-left: 3px;
				}
				@media screen and (max-width: 1200px) {
					text-align: center;
					width: 100%;
					font-size: 15px;
				}
				@media screen and (max-width: 375px) {
					font-size: 15px;
				}

			}
		}
		#v_cent2, #v_cent3{
			label{
			  outline: none;
			  position: relative;
			  font-size: 17px;
			  i{
			  	font-size: 12px;
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    right: 7%;
			  }
			}
		}
		#drop_zone {
			margin-top: 140px;
			position: relative;
			border: 5px solid blue;
			border: none;
			img{
				height: 100%;
				position: relative;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			.drop__zone__caption{
				@media screen and (max-width: 425px) {
					font-size: 17px;
				}
				line-height: 1.5em;
				font-family: 'MyriadPro', sans-serif;
				font-size: 24px;
				font-weight: 400;
				color: #fff;
				background-color: transparent;
				//position: absolute;
				top: 20px;
				left: 20px;
				span{
					color: #EDBE14;
				}
				i{
					margin-right: 15px;
				}
				p{
					@media screen and (max-width: 425px) {
						font-size: 12px;
					}
					font-size: 18px;
					font-weight: 300;
				}
			}
		}
		form#my-awesome-dropzone{
			margin-top: 40px;
			padding: 20px;
			width: 100%;
			min-height: 350px;
			background: url(../images/download.jpg);
			background-size: cover;
			.add__link{
				.btn__submit{
					margin-top: 20px;
				}
			}
			.drop__zone__caption{
				margin-top: 80px;
				@media screen and (max-width: 425px) {
					font-size: 17px;
				}
				line-height: 1.5em;
				font-family: 'MyriadPro', sans-serif;
				font-size: 24px;
				font-weight: 400;
				color: #fff;
				background-color: transparent;
				//padding: 20px;
				top: 20px;
				left: 20px;
				span{
					color: #EDBE14;
				}
				i{
					margin-right: 15px;
				}
				p{
					@media screen and (max-width: 425px) {
						font-size: 12px;
					}
					font-size: 18px;
					font-weight: 300;
				}
			}
			.dz-message{
				color: #fff;
				font-weight: 400;
			}
			.dz-file-preview{
				display: inline-block;
				position: relative;
				padding: 20px;
				.dz-image{
					display: inline-block;
					height: 100px;
					width: 100px;
					background-color: #DEDEDE;
					border-radius: 10px;
				}
				.dz-details{
					text-align: center;
					position: absolute;
					top: 50px;
					left: 30px;
				}
				.dz-success-mark{
					cursor: pointer;
					svg{
						width: 40px;
						height: 40px;
					}
					display: inline-block;
					margin-left: 5px;
				}
				.dz-error-mark{
					cursor: pointer;
					display: inline-block;
					svg{
						width: 40px;
						height: 40px;
					}
				}
			}
			.btn__submit{
				left: 15px;
				margin-top: 300px;
				position: absolute;
			}
		}
	}
	.tab-content{
		.host-calendar-container{
			@media screen and (max-width: 550px) {
				margin-top: 25px;
			}
			position: relative;
			.calendar-month{
				width: 100%;
				.month-nav{
					color: #C82639;
					border: 1px solid #ddd;
					width: 46px;
					height: 42px;
					display: inline-block;
					line-height: 42px;
				}
				.calenBox{
					display: none;
				}
				.calendar__active{
					display: block !important;
				}
				.calendar__active__month{
					display: inline-block !important;
				}
				.current-month-selection{
					display: none;
					position: relative;
					cursor: pointer;
					h2{
						@media screen and (max-width: 550px) {
							font-size: 20px;
						}
						@media screen and (max-width: 420px) {
							font-size: 13.5px;
						}
						position: relative;
						top: 5px;
						margin-top: 20px;
						margin-left: 20px;
						cursor: pointer;	
						padding-top: 4px;
						font-size: 32px;
					}
					#calendar_dropdown {
					    width: 100%;
					    margin-top: 10px;
					}
					select{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;
					}
				}
				.spinner-next-to-month-nav{
					cursor: pointer;	
					position: absolute;
					top: 18px;
					left: 100%;
					width: 35px;
					margin-left: 13px;
					font-size: 0;
					color: transparent;
				}
			}
			.margin-top10 {
			   margin-top: 10px;
			}
			.wkText {
				@media screen and (max-width: 767px) {
					font-size: 12px;
				}
				@media screen and (max-width: 550px) {
					font-size: 10px;
				}
				font-size: 14px;
				color: #414141;
				margin-left: 2px;
			}

		}
		.btn-large.btn-primary{
			@media screen and (max-width: 485px) {
				min-width: 140px !important;
			}
			@media screen and (max-width: 374px) {
				margin-left: -10px;
			}
		}
		.col-md-02{
			width: 14.333%;
			float: left;
			position: relative;
			min-height: 1px;
			padding-right: 0; 
			padding-left: 0;
			margin-left: -1px;
		}
		.dt-not-available {
			background-color: #dce0e0;
			cursor: not-allowed;
			pointer-events: none;
		}
		.dTfont {
			margin-top: 48%;
			position: absolute;
		}
		.calender_box {
			border: 1px solid #d4d4d4;
			padding: 2px 5px;
			height: 110px;
			margin: 1px;
			//border-bottom: 0;
		}
		.dt-today .final_day {
		   font-weight: bold;
		}
		.padding-top20{
			.col-md-6.col-sm-6.col-xs-6{
				@media screen and (max-width: 767px) {
					text-align: center !important;
				}
			}
		}

	}
	


}






