@import "variables";

.notification {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: #e5e5e5;
  margin: 0 0 40px;
  padding: 0 0 20px 180px;
  @media(max-width: 480px) {
    padding: 20px;
  }
  position: relative;
  .br-close {
    float: right;
    margin: 20px;
    font-size: 28px;
  }
  .brick-img {
    position: absolute;
    left: 50px;
    top: 25px;
    @media(max-width: 480px) {
      position: static;
    }
  }
  .brick-title {
    padding: 25px 0 15px 0;
    @media(max-width: 480px) {
      padding: 20px 0 15px;
    }
  }
  .brick-ico {
    width: 78px;
    height: 78px;
    background-color: #c0253d;
    text-align: center;
    font-size: 52px;
    color: #e5e5e5;
    padding-top: 13px;
    border-radius: 50%;
    line-height: 1;
  }
  .brick-text {
    padding: 0 0 20px 0;
  }
  .btn {
    margin-bottom: 10px;
  }
}

.section-block.gray{
  a.next, a.prev{
    font-size: 15px;
    color: #8A7575;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    margin-right: 10px;
  }
}
