.notification {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 16px;
  width: 100%;
  //height: 190px;
  background-color: #e5e5e5;
  margin: 10px 0;
  .br-close {
    float: right;
    margin: 20px;
  }
  .brick-img {
    width: 180px;
    height: 180px;
    padding: 25px 50px 0 50px;
    float: left;
  }
  .brick-title {
    //font-weight: bold;
    padding: 40px 0 15px 0;
  }
  .brick-text {
    padding: 0 0 20px 0;
    //margin-bottom: 20px;
  }
  .br-btn {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #c0253d;
    padding: 15px 25px;
    border-radius: 3px;
    margin: 20px 10px 0 0;
  }
}
