.notification {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: #e5e5e5;
  margin: 0 0 40px;
  padding: 0 0 20px 180px;
  position: relative;
  .br-close {
    float: right;
    margin: 20px;
  }
  .brick-img {
    position: absolute;
    left: 50px;
    top: 25px;
  }
  .brick-title {
    padding: 40px 0 15px 0;
  }
  .brick-text {
    padding: 0 0 20px 0;
  }
  .btn {
    margin-bottom: 10px;
  }
}
