 // .modal-open {
 //    overflow-y: hidden !important;
 //    overflow-x: hidden !important;
 // }
 // .modal-open .modal {
 //     overflow-x: hidden !important;
 //     overflow-y: hidden !important;
 // }

 #login__popup{
 	.modal-body{
 		padding: 40px;
 		position: relative;
 	}
 	.closes{
 		right: -25px;
 		top: -25px;
 		position: absolute;
 		text-align: center;
 		display: block;
 		background-color: #D80628;
 		cursor: pointer;
 		line-height: 50px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		box-shadow: none;
		font-size: 25px;
		font-weight: 300;
		color: #fff;
 	}
	p.h4{
		margin-bottom: 20px;
		font-family: 'BebasNeue';
		font-weight: 400;
		font-size: 35px;
		text-align: center;
	}
	#form{
		label{
			margin-top: 20px;
			font-size: 16px;
			color: #8d99ae;
			font-weight: 300;
		}
		input{
			padding: 15px 0px;
			width: 100%;
			border: none;
			border-bottom: 1px solid #CBCBCB;
			background: #fff;
			color: #00171f;
			font-size: 16px;
			font-weight: 300;
		}
		.log{
			line-height: 72px;
			display: inline-block;
			label{
				margin-bottom: 0;
				margin-top: 0;
				margin-left: 20px;
				line-height: 20px;
				display: inline-block;
				color: #8d99ae;
			}
			position: relative;
			.outline__chek{
				cursor: pointer;
				position: absolute;
				display: none;
				top: 0;
				left: 0;
				content: "";
				width: 20px;
				height: 20px;
				border: 2px solid #CBCBCB;
				background-color: #fff;
			}
			.inline__chek{
				cursor: pointer;
				position: absolute;
				display: none;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				content: "";
				width: 10px;
				height: 10px;
				background-color: #CBCBCB;
			}
			input{
				top: 0;
				left: 0px;
				display: inline-block;
				//position: absolute;
				//margin-top: 20px;
				height: 20px;
				width: 20px;
				outline: none;
			}
		}
		.lost__password{
			display: inline-block;
			margin-right: 0;
			margin-left: 39%;
			a{
				font-size: 16px;
				color: #8d99ae;
				font-weight: 300;
				//position: relative;
			}
		}
		#button{
			width: 100%;
			padding: 20px;
			background-color:#8C98AD;
			border: none;
			border-radius: 5px;
			font-family: 'BebasNeue';
			font-weight: 400;
			font-size: 35px;
			text-align: center;
			color: #fff;
		}
	}
	.line{
		height: 90px;
		display: flex;	
		justify-content: space-between;
		align-items: center;
		color: #8C98AD;
		.hr{
			line-height: 90px;	
			display: inline-block;
			width: 45%;
			//height: 3px;
		}
		.or{
			font-size: 16px;
			font-weight: 300;	
			display: inline-block;
		}
	}
	.fixto{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.button{
			display: inline-block;
			width: 48%;
			padding: 20px;
			background-color:#8C98AD;
			border: none;
			border-radius: 5px;
			font-family: 'Roboto';
			font-weight: 300;
			font-size: 16px;
			text-align: center;
			color: #fff;
			text-transform: none;
			i{
				margin-right: 15px;
			}
			&.facebook{
				background-color: #3B5997;
			}
			&.twitter{
				background-color: #21A1F0;
			}
		}
	}
 }