#add_pricing_options{
	.modal-content{
		//border-radius: 5px;
	}
 	.modal-body{
 		//border-radius: 7px;
 		padding: 15px;
 		//position: relative;
 	}
 	.closes{
 		float: right;
 		font-size: 20px;
 		font-weight: 400;
 		color: #818181;
 		opacity: 1;
 		text-align: right;
 		//margin-top: 20px;
 		// display: inline-block;
 		position: relative;
 		//right: 0px;
 		//top: 0px;
 		//position: absolute;
 		display: block;
 		//background-color: ;	
 		cursor: pointer;
 		//line-height: 50px;
		//width: 50px;
		//height: 50px;
		//border-radius: 50%;
		box-shadow: none;
		// font-size: 14px;
		// font-weight: 300;
		//color: #000;
 	}
	p.h4{
		margin-bottom: 20px;
		font-family: 'BebasNeue';
		font-weight: 400;
		font-size: 35px;
		text-align: center;
	}
	.options__wrapper{
		//padding-left: 30px;
		margin-top: 20px;
		label{
			font-family: 'Roboto', Arial, Tahoma, sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 28px;
			display: block;
			line-height: 1.5em;
		}
	}
}