#vat_id_number_verification {
  .modal-header {
    text-align: center;
    h4 {
      font-size: 20px;
    }
    .close {
      margin-right: 10px;
    }
  }
  .modal-content {
    background-color: #ececec;
  }
  .panel-body {
    padding-bottom: 0;
    padding-top: 0;
  }
  .modal-body {
    padding-top: 0;
  }
  .description {
    font-size: 12px;
    color: #606060;
    text-align: center;
    padding: 20px 15px 0;
  }
  label {
    font-weight: 400;
    line-height: 28px;
  }
  .form-control {
    height: 40px;
    padding: 12px;
  }
  .btn {
    margin: 0 5px 5px;
    min-width: 120px;
  }
}
