.modal-header {
  border-bottom: 0 none;
}
.modal-content {
  border-radius: 0;
}
.modal-footer {
  text-align: center;
  border-top: 0 none;
  padding-bottom: 45px;
}

.close {
  font-size: 32px;
  font-weight: 400;
  color: #818181;
  opacity: 1;
}

