#registr{
 	.modal-body{
 		padding: 40px;
 		position: relative;
 	}
 	a{
 		right: -25px;
 		top: -25px;
 		position: absolute;
 		text-align: center;
 		display: block;
 		background-color: #D80628;
 		cursor: pointer;
 		line-height: 50px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		box-shadow: none;
		font-size: 25px;
		font-weight: 300;
		color: #fff;
 	}
	p.h4{
		margin-bottom: 20px;
		font-family: 'BebasNeue';
		font-weight: 400;
		font-size: 35px;
		text-align: center;
	}
	#form{
		label{
			margin-top: 20px;
			font-size: 16px;
			color: #8d99ae;
			font-weight: 300;
		}
		input{
			padding: 15px 0px;
			width: 100%;
			border: none;
			border-bottom: 1px solid #CBCBCB;
			background: #fff;
			color: #00171f;
			font-size: 16px;
			font-weight: 300;
		}
		#button{
			margin-top: 30px;
			width: 100%;
			padding: 20px;
			background-color:#D80628;
			border: none;
			border-radius: 5px;
			font-family: 'BebasNeue';
			font-weight: 400;
			font-size: 35px;
			text-align: center;
			color: #fff;
		}
	}
 }