 .modal-open {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
 }
 .modal-open .modal {
     overflow-x: hidden !important;
     overflow-y: hidden !important;
 }

 #login__popup{
 	.modal-body{
 		padding: 40px;
 		position: relative;
 	}
 	a{
 		right: -25px;
 		top: -25px;
 		position: absolute;
 		text-align: center;
 		display: block;
 		background-color: #D80628;
 		cursor: pointer;
 		line-height: 50px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		box-shadow: none;
		font-size: 25px;
		font-weight: 300;
		color: #fff;
 	}
	p.h4{
		margin-bottom: 20px;
		font-family: 'BebasNeue';
		font-weight: 400;
		font-size: 35px;
		text-align: center;
	}
	#form{
		label{
			margin-top: 20px;
			font-size: 16px;
			color: #8d99ae;
			font-weight: 300;
		}
		input{
			padding: 15px 0px;
			width: 100%;
			border: none;
			border-bottom: 1px solid #CBCBCB;
			background: #fff;
			color: #00171f;
			font-size: 16px;
			font-weight: 300;
		}
		.log{
			label{
				display: inline-block;
			}
			position: relative;
			.outline__chek{
				cursor: pointer;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				content: "";
				width: 20px;
				height: 20px;
				border: 2px solid #CBCBCB;
				background-color: #fff;
			}
			.inline__chek{
				visibility: hidden;
				cursor: pointer;
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				content: "";
				width: 10px;
				height: 10px;
				background-color: #CBCBCB;
			}
			input{
				top: 0;
				left: 30px;
				display: inline-block;
				position: absolute;
				height: 20px;
				width: 20px;
				//opacity: 0;
				// &:before{
				// 	//visibility: hidden;
				// 	cursor: pointer;
				// 	position: absolute;
				// 	display: block;
				// 	top: 0;
				// 	left: 0;
				// 	content: "";
				// 	width: 20px;
				// 	height: 20px;
				// 	border: 2px solid #CBCBCB;
				// 	background-color: #fff;
				// }
				// &:after{
				// 	//visibility: hidden;
				// 	//z-index: 100;
				// 	cursor: pointer;
				// 	position: absolute;
				// 	display: block;
				// 	top: 50%;
				// 	left: 50%;
				// 	transform: translate(-50%, -50%);
				// 	content: "";
				// 	width: 10px;
				// 	height: 10px;
				// 	background-color: #CBCBCB;
				// }
			}
			/* input[checked="checked"]{
				&:after{
					visibility: visible;
				}
			} */
			// #remember:checked ~ .inline__chek{
			// 	visibility: visible;
			// }
			// input[type="checkbox"]:not(:checked) ~ .inline__chek{
			// 	visibility: hidden;
			// }
			
		}
		#button{
			margin-top: 30px;
			width: 100%;
			padding: 20px;
			background-color:#D80628;
			border: none;
			border-radius: 5px;
			font-family: 'BebasNeue';
			font-weight: 400;
			font-size: 35px;
			text-align: center;
			color: #fff;
		}
	}
 }