.section-block {
  margin: 0 0 25px;
  color: #022d41;
  &.gray {
    background-color: $section_block_gray_bg;
  }
  .block-title {
    background-color: $section_block_gray_title_bg;
    padding: 20px;
    font-size: 16px;
    img {
      vertical-align: middle;
      margin-right: 15px;
    }
  }
  .block-content {
    padding: 25px 0;
    font-size: 13px;
    .label {
      font-size: 16px;
      color: #022d41;
      padding: 0;
    }
    .description {
      margin-bottom: 15px;
    }
    .block-row {
      &.half {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        @media(max-width: 992px){
          display: block;
        }
        .inner {
          flex-grow: 1;
          width: 12%;
          @media(max-width: 992px){
            width: 100%;
          }
        }
        &.inline {
          .inner {
            flex-grow: 0;
            width: auto;
          }
        }
      }
      .inner {
        padding: 0 16px;
        //padding: 16px;
        @media(max-width: 992px){
          padding: 0;
        }
        &.settings-description {
          padding-bottom: 0;
        }
        &.settings-form {
          &.without-border {
            &:before {
              border-top: 0 none !important;
            }
          }
          input[type=checkbox], input[type=radio] {
            margin-left: 10px;
            margin-right: 5px;
          }
          select {
            min-width: auto;
            max-width: 100%;
            text-align: center;
          }
          .label-inline {
            vertical-align: top;
            font-weight: 400;
            input[type=checkbox],
            input[type=radio] {
              margin-right: 10px;
            }
          }
          .form-group {
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        &.settings-footer {}

        &.settings-form,
        &.settings-footer {
          padding-bottom: 0;
          &:first-child {
            &:before {
              display: none;
            }
          }
          &:before {
            content: '';
            border-top: 1px #ccc solid;
            width: 100%;
            display: inline-block;
            margin: 15px 0;
          }
        }
      }
    }
  }
  &.user-info-avatar {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    .block-content {
      padding-top: 0;
      text-align: center;
      .btn {
        min-width: auto;
        max-width: 100%;
      }
      .block-row {
        .inner {
          padding: 0;
          .avatar-image {
            img {
              width: 100%;
            }
          }
          .user-name {
            font-size: 24px;
            font-weight: 400;
            padding: 25px 15px 15px;
          }
        }
      }
    }
  }
}
