.section-block {
  &.gray {
    background-color: $section_block_gray_bg;
  }
  .block-title {
    background-color: $section_block_gray_title_bg;
    padding: 20px;
  }
  .block-content {
    .inner {
      padding: 35px 20px;
    }
  }
}
