.nav-notific{
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 60px 0;
  ul {
    li{
      margin: 10px 0;
      color: #022d41;
      .item-nav-notif{
        line-height: 20px;
        padding: 10px;
        color: #022d41;
        border: 2px transparent solid;
        display: inline-block;
        &:hover{
          border: 2px #022d41 solid;
          color: #022d41;
        }
        &.active{
          color: #ff2020;
          border: 2px #ff2020 solid;
        }
      }
    }
  }
}
