$dark_gray: #1e2329;
$middle_gray: #4c4c4c;

$success: #219d00;


$light_red: #b12b10;
$middle_red: #a1152c;
$dark_red: #852737;

$green_bg: #002D42;

$section_block_gray_bg: #f4f4f4;
$section_block_gray_title_bg: #e5e5e5;
