/*********************** breadcrumbs *****************************/

.breadcrumbs {
  width: 100%;
  height: 70px;
  background-color: #4c4c4c;
  line-height: 70px;
  .wrapp-bread {
    width: 415px;
    margin: 0 auto;
    overflow: hidden;
  }
  ul {
    li {
      float: left;
      padding: 0 20px 0 20px;
      position: relative;
      opacity: 0.7;
      a {
        font-family: 'MyriadPro-Regular';
        font-size: 12px;
      }
      &:hover {
        opacity: 1;
      }
      &:after {
        width: 4px;
        height: 8px;
        content: "";
        position: absolute;
        top: 32px;
        right: -3px;
        background: url(../images/brarr.png);
      }
    }
  }
  .bread {
    color: #fff
  }
}





