@import "variables";

/*=====================Fonts=====================*/
@import "fonts";

/*==================Costom styles================*/
@import "costome";

/*================Header styles==================*/
@import "header";

/*================Header styles==================*/
@import "breadcrumbs";

/*================Base Layout==================*/
@import "base_layout";

/*================Base Layout==================*/
@import "sidebar_notific";

@import "notification";
@import "section_block";
@import "forms";
@import "reviews_list";

/*================Popups Layout==================*/
@import "popups";
@import "popup_login";
@import "popup_registr";
@import "popup_vat_verif";
@import "popup_add_language";
@import "add_emergency_contact";
@import "shipping_address_form";

/*==================Footer styles================*/

@import "footer";

/*==================Index styles================*/

@import "index";