<footer id="site-footer" class="no-print">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-md-6 footer-top-left">
          <ul class="inline-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Join Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-md-6 footer-top-right">
          <a href="#">Download our mobile apps on <img class="res" src="images/24.png" alt="" title=""></a>
        </div>

      </div>
    </div>
  </div>

  <div class="footer">

    <div class="container">
      <div class="row">

        <div class="col-sm-2">
          <p class="menu-title">Top Cities</p>
          <!--<ul class="footsec">-->
          <ul class="footer-menu two-arrow">
            <li><a href="#">Alaska</a></li>
            <li><a href="#">California</a></li>
            <li><a href="#">Colorado</a></li>
            <li><a href="#">Florida</a></li>
            <li><a href="#">Kansas</a></li>
            <li><a href="#">Louisiana</a></li>
            <li><a href="#">Michigan</a></li>
          </ul>
        </div>

        <div class="col-sm-4">
          <p class="menu-title">Top Categories</p>
          <ul class="footer-menu two-arrow">
            <li><a href="#">Mississippi</a></li>
            <li><a href="#">New Jersey</a></li>
            <li><a href="#">New York</a></li>
            <li><a href="#">Oklahoma</a></li>
            <li><a href="#">Texas</a></li>
            <li><a href="#">Washington</a></li>
            <li><a href="#">Wisconsin</a></li>
          </ul>
        </div>

        <div class="col-sm-6">
          <p class="menu-title">Get in touch</p>
          <ul class="footer-menu one-arrow">
            <li><a href="#">360 Havf Stact, Oty, RUSSIA</a></li>
            <li><a href="#">36955 - 254-66 </a></li>
            <li><a href="#">info@fr.com</a></li>
            <li><a href="#">upport@frr.com</a></li>
            <li><a href="#">Be_</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
  <div class="footer-bottom">

    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-push-4">
          <ul class="footer-social-menu">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-behance-square"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-apple"></i></a></li>
          </ul>
        </div>

        <div class="col-sm-4 col-sm-pull-8">
          <p class="copyright">© 2017 - FR</p>
        </div>

      </div>


    </div>

  </div>
</footer>
