<footer>
  <div class="section">
    <div class="container">
      <div class="left">
        <ul class="footul">
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">EXPLORE</a></li>
          <li><a href="#">JOIN US</a></li>
          <li><a href="#">CONTACT US</a></li>
        </ul>
      </div>
      <div class="right">
        <ul class="footul">
          <li><a href="#">DOWNLOAD OUR MOBILE APPS ON</a></li>
          <li><a href="#"><img class="res" src="images/24.png" alt="" title="" /></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section5">
    <div class="container">
      <div class="over2">
        <div class="overleft">
          <div class="col">
            <p class="h5">top Cities</p>
            <ul class="footsec">
              <li><a href="#">Alaska</a></li>
              <li><a href="#">California</a></li>
              <li><a href="#">Colorado</a></li>
              <li><a href="#">Florida</a></li>
              <li><a href="#">Kansas</a></li>
              <li><a href="#">Louisiana</a></li>
              <li><a href="#">Michigan</a></li>
            </ul>
          </div>
          <div class="col">
            <p class="h5">Top Categories</p>
            <ul class="footsec">
              <li><a href="#">Mississippi</a></li>
              <li><a href="#">New Jersey</a></li>
              <li><a href="#">New York</a></li>
              <li><a href="#">Oklahoma</a></li>
              <li><a href="#">Texas</a></li>
              <li><a href="#">Washington</a></li>
              <li><a href="#">Wisconsin</a></li>
            </ul>
          </div>
        </div>
        <div class="overleft ov">
          <div class="col">
            <p class="h5">Get in touch</p>
            <ul class="to">
              <li><a href="#">360 Havf Stact, Oty, RUSSIA</a></li>
              <li><a href="#">36955   -   254-66 </a></li>
              <li><a href="#">info@fr.com</a></li>
              <li><a href="#">upport@frr.com</a></li>
              <li><a href="#">Be_</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section6">
    <div class="container">
      <div class="overleft">
        <p class="copi">© 2017 - FR</p>
      </div>
      <div class="overleft">
        <ul class="footsec2">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-behance-square"></i></a></li>
          <li><a href="#"><i class="fa fa-skype"></i></a></li>
          <li><a href="#"><i class="fa fa-apple"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="myModalBox" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="closes" data-dismiss="modal" aria-hidden="true">&#10006;</button>
          <p class="h4">REGISTER</p>
          <form id="form" method="POST" action="javascript:void(null);">
            <label for="firstname">First Name</label>
            <p><input id="firstname" type="text" name="firstname"></p>
            <label for="lastname">Last Name</label>
            <p><input id="lastname" type="text" name="lastname"></p>
            <label for="email">E Mail</label>
            <p><input id="email" type="email" name="email"></p>
            <label for="password">Password</label>
            <p><input id="password" type="password" name="password"></p>
            <label for="confirm">Confirm Password</label>
            <p><input id="confirm" type="password" name="confirm"></p>
            <p><input id="button" type="submit" value="REGISTER NOW"></p>
          </form>
        </div>
      </div>
    </div>
  </div>
