<div class="wrapper">
  <div class="header">
    <div class="logo"><a href="index.html">FRAIDER</a>
      </div>
    <div class="nav">
      <ul>
        <li>
          <a href="index.html">
            <span class="not__hidden">HOME</span>
            <span class="hidden__icons hidden-lg hidden-md"><i class="fa fa-home" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="not__hidden">ABOUT US</span>
            <span class="hidden__icons hidden-lg hidden-md"><i class="fa fa-info" aria-hidden="true"></i></span>
          </a>
        </li>
        <li class="drop">
          <!-- <a href="#"> -->
            <span class="not__hidden">BLOG</span>
            <span class="hidden__icons hidden-lg hidden-md"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
          <!-- </a> -->
          <ul class="child">
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>FAQ<br></a>
            </li>
            <li>
              <a class="active" href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Therms<br></a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Public politic</a>
            </li>
          </ul>
        </li>
        <li class="drop">
         <!--  <a href=""> -->
            <span class="not__hidden">HELP</span>
            <span class="hidden__icons hidden-lg hidden-md"><i class="fa fa-question" aria-hidden="true"></i></span>
         <!--  </a> -->
          <ul class="child">
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>FAQ</a>
            </li>
            <li>
              <a href="#" class="active">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Terms</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Public politic</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>For Customers</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>For List</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Support form</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span class="not__hidden">CONTACT</span>
            <span class="hidden__icons hidden-lg hidden-md"><i class="fa fa-phone" aria-hidden="true"></i></span>
          </a>
        </li>
        <!--<li class="icons hidden-xs">-->
          <!--<a href="#">-->
            <!--<img alt="Alt" class="not__hover" src="images/heart.png"/>-->
            <!--<img alt="Alt" class="hover" src="images/heart_red.png"/>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="icons hidden-xs">-->
          <!--<a href="#">-->
            <!--<img alt="Alt" class="not__hover" src="images/lock.png"/>-->
            <!--<img alt="Alt" class="hover" src="images/lock_red.png"/>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="icons hidden-xs">-->
          <!--<a href="#">-->
            <!--<img alt="Alt" class="not__hover" src="images/circl.png"/>-->
            <!--<img alt="Alt" class="hover" src="images/circl_red.png"/>-->
          <!--</a>-->
        <!--</li>-->
        <li class="registr__login">
          <a href="#" data-toggle="modal" data-target="#registr">RegIster</a>&nbsp;/&nbsp;<a href="#" data-toggle="modal" data-target="#login__popup">Login</a> 
        </li>
        <li class="drop">
          <a href="#">EN</a>
          <ul class="child lang-cild">
            <li>
              <a class="active" href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Turkish<br>
              </a>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>English<br>
              </a>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Germany
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="index hidden-md hidden-sm hidden-lg">
        <li class="icons">
          <a>
            <img alt="Alt" class="not__hover" src="images/heart.png"/>
            <img alt="Alt" class="hover" src="images/heart_red.png"/>
          </a>
        </li>
        <li class="icons">
          <a>
            <img alt="Alt" class="not__hover" src="images/lock.png"/></a>
            <img alt="Alt" class="hover" src="images/lock_red.png"/></a>
        </li>
        <li class="icons">
          <a>
            <img alt="Alt" class="not__hover" src="images/circl.png"/></a>
            <img alt="Alt" class="hover" src="images/circl_red.png"/></a>
        </li>
      </ul>
    </div>
  </div>
</div>
