<header>
  <nav id="top">
    <div class="left">
      <div id="logo">
        <a href="#">test</a>
      </div>
    </div>
    <div class="right">
      <ul class="list">
        <li class="listli"><a href="#"><i class="fa fa-home hidden-md"></i><span class="hidden-xs">HOME</span></a></li>
        <li class="listli"><a href="#"><i class="fa fa-info hidden-md"></i><span class="hidden-xs">ABOUT US</span></a></li>
        <li class="listli dropdown"><a href="#"><i class="fa fa-newspaper-o hidden-md"></i><span class="hidden-xs">BLOG</span></a>
          <ul class="ul">
            <li><a href="#">items</a></li>
            <li><a href="#">items</a></li>
            <li><a href="#">items</a></li>
            <li><a href="#">items</a></li>
            <li><a href="#">items</a></li>
            <li><a href="#">items</a></li>
          </ul>
        </li>
        <li class="listli dropdown"><a href="#"><i class="fa fa-question hidden-md"></i><span class="hidden-xs">HELP</span></a>
          <ul class="ul">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Public politic</a></li>
            <li><a href="#">For Customers</a></li>
            <li><a href="#">For List</a></li>
            <li><a href="#">Support form</a></li>
          </ul>
        </li>
        <li class="listli"><a href="#"><i class="fa fa-phone hidden-md"></i><span class="hidden-xs">CONTACT</span></a></li>
        <li class="listli hidden-xs">
          <div class="icon"><a href="#"><img src="images/1.png" alt="icon_1" title="icon_1" /></a></div>
          <div class="icon"><a href="#"><img src="images/2.png" alt="icon_2" title="icon_2" /></a></div>
          <div class="icon"><a href="#"><img src="images/3.png" alt="icon_3" title="icon_3" /></a></div>
        </li>
        <li class="listli"><a class="hidden-md" href="#"><i class="fa fa-plus"></i></a><a href="#" class="button hidden-xs"><span class="plus">+</span> Become a HOST</a></li>
        <li class="listli hidden-xs"><a class="prevent registr" href="#"><i class="fa fa-user hidden-md"></i>REGISTER / </a><a class="prevent login" href="#"><i class="fa fa-th-large hidden-md"></i>LOGIN</a></li>
        <li class="listli hidd">
          <a class="prevent registr" href="#"><i class="fa fa-user hidden-md"></i></a>
        </li>
        <li class="listli hidd">
          <a class="prevent login" href="#"><i class="fa fa-th-large hidden-md"></i></a>
        </li>
        <li class="listli"><a class="drop">EN</a>
          <ul class="lang">
            <li><a href="#">Turkish</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Germany</a></li>
          </ul>
        </li>
      </ul>
      <div class="listlis hidden-md">
        <div class="icon"><img src="images/1.png" alt="icon_1" title="icon_1" /></div>
        <div class="icon"><img src="images/2.png" alt="icon_2" title="icon_2" /></div>
        <div class="icon"><img src="images/3.png" alt="icon_3" title="icon_3" /></div>
      </div>
    </div>
  </nav>
</header>
