<div class="wrapper">
  <div class="header">
    <div class="logo">
      <a href=""><img alt="" src="../images/logo.png" /></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a href="">HOME</a>
        </li>
        <li>
          <a href="">ABOUT US</a>
        </li>
        <li class="drop">
          <a href="">BLOG</a>
          <ul class="child">
            <li>
              <a href="">FAQ</a>
            </li>
            <li>

              <a class="active" href=""><i class="fa fa-camera-retro fa-lg"></i> Therms</a>
            </li>
            <li>
              <a href="">Public politic</a>
            </li>
          </ul>
        </li>
        <li class="drop">
          <a href="">HELP</a>
          <ul class="child">
            <li>
              <a href="">подменю</a>
            </li>
            <li>
              <a class="active" href="">подменю</a>
            </li>
            <li>
              <a href="">подменю</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">CONTACT</a>
        </li>
        <li class="icons">
          <a><img alt="" src="../images/heart.png" /></a>
        </li>
        <li class="icons">
          <a><img alt="" src="../images/lock.png" /></a>
        </li>
        <li class="icons">
          <a><img alt="" src="../images/circl.png" /></a>
        </li>
        <li class="icons button">
          <a><img alt="" src="../images/butt-header.png" /></a>
        </li>
        <li>
          <a class="reg" href="">REGISTER/LOGIN</a>
          <div class="lang">
            <div class="drop"></div>
          </div>
        </li>
        <li class="drop">
          <a href="">EN</a>
          <ul class="child lang-cild">
            <li>
              <a href="">RU</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
