<div class="wrapper">
  <div class="header">
    <div class="logo">
      <a href=""><img alt="" src="../images/logo.png" /></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a href="#">HOME</a>
        </li>
        <li>
          <a href="#">ABOUT US</a>
        </li>
        <li class="drop">
          <a href="#">BLOG</a>
          <ul class="child">
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>FAQ</a>
            </li>
            <li>
              <a class="active" href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Therms</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Public politic</a>
            </li>
          </ul>
        </li>
        <li class="drop">
          <a href="">HELP</a>
          <ul class="child">
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>FAQ</a>
            </li>
            <li>
              <a href="#" class="active">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Terms</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Public politic</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>For Customers</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>For List</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Support form</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">CONTACT</a>
        </li>
        <li class="icons">
          <a>
            <img alt="" class="not__hover" src="../images/heart.png"/>
            <img alt="" class="hover" src="../images/heart_red.png"/>
          </a>
        </li>
        <li class="icons">
          <a>
            <img alt="" class="not__hover" src="../images/lock.png"/></a>
            <img alt="" class="hover" src="../images/lock_red.png"/></a>
        </li>
        <li class="icons">
          <a>
            <img alt="" class="not__hover" src="../images/circl.png"/></a>
            <img alt="" class="hover" src="../images/circl_red.png"/></a>
        </li>
       
        <li> <!-- <li class="icons button">
          <a>
            <img alt="" src="../images/button_mesages.png"/>

          </a>
        </li> -->
          <a class="reg" href="#">REGISTER</a>/<a class="reg" href="#">LOGIN</a>
          <!-- <div class="lang">
            <div class="drop"></div>
          </div> -->
        </li>
        <li class="drop">
          <a href="">EN</a>
          <ul class="child lang-cild">
            <li>
              <a href="">RU</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
