<div class="nav-notific">
  <ul>
    <li><a href="edit_profile.html" class="item-nav-notif active">Edit profile</a></li>
    <li><a href="video.html" class="item-nav-notif">Photos</a></li>
    <li><a href="confirm.html" class="item-nav-notif">Trust and Verification</a></li>
    <li><a href="reviews.html" class="item-nav-notif">Reviews</a></li>
    <li><a href="references.html" class="item-nav-notif">References</a></li>
    <li><a href="view_profile.html" class="item-nav-notif">View profile</a></li>

    <!--<li><a href="./user_provacy.html" class="item-nav-notif">Privacy</a></li>-->
    <!--<li><a href="#" class="item-nav-notif">Transaction History</a></li>-->
    <!--<li><a href="#" class="item-nav-notif">Security</a></li>-->
    <!--<li><a href="#" class="item-nav-notif">Connected Apps</a></li>-->
    <!--<li><a href="#" class="item-nav-notif">Badges</a></li>-->
    <!--<li><a href="#" class="item-nav-notif">Travel Credit</a></li>-->
    <!--<li><a href="#" class="item-nav-notif">Payment Methods</a></li>-->
    <!--<li><a href="#" class="item-nav-notif">Payout Preferences</a></li>-->
  </ul>
</div>
