<div class="reservations">

  <div class="reservation-title">Reservations</div>

  <div class="reservation-form">
    <div class="per-night">
      <div class="price">$15</div>
      <div class="title">Per Night</div>
    </div>
    <form action="">
      <div class="flex-row">

        <div class="form-group flex-col">
          <label for="check_in_date">Check in:</label>
          <input class="form-control" type="text" id="check_in_date" placeholder="07.11.2017">
          <label for="check_in_time">Check in Time:</label>
          <input class="form-control" type="text" id="check_in_time" placeholder="12:00">
        </div>

        <div class="form-group flex-col">
          <label for="check_out_date">Check out:</label>
          <input type="text" class="form-control" id="check_out_date" placeholder="08.11.2017">
          <label for="check_out_time">Check out Time:</label>
          <input type="text" class="form-control" id="check_out_time" placeholder="13:00">
        </div>

        <div class="form-group flex-col">
          <label for="check_guest">Guests:</label>
          <select class="form-control" id="check_guest">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </div>

      <div class="values-rows">
        <div class="value-row">
          <span class="name">15$ x nidht</span><span class="value">30$</span>
        </div>
        <div class="value-row">
          <span class="name">Unlimited Tee</span><span class="value">4.99$</span>
        </div>
      </div>

      <div class="add-service no-print">
        <a href="#" class="btn">Add Additional Services</a></div>

      <div class="values-rows">
        <div class="value-row">
          <span class="name">Service free <abbr title="This Service is Free" class="no-print">i</abbr></span><span class="value">3$</span>
        </div>
        <div class="value-row">
          <span class="name">Total:</span><span class="value total">36.99$</span>
        </div>
      </div>

    </form>

  </div>

</div>
<!-- /.reservations -->

<div class="photo-gallery-wrapper no-print">
  <div class="photo-gallery-title">Photo Gallery</div>
  <div class="sidebar-gallery">
    <div class="image-thumb">
      <a href="./images/list_detail_head_slide_bg.png" class="image-link" data-lightbox="image-1" data-title="My caption">
        <img src="./images/black_avatar.png" alt="">
      </a>
    </div>
    <div class="image-thumb">
      <a href="./images/list_detail_head_slide_bg_1.png" class="image-link" data-lightbox="image-1" data-title="My caption">
        <img src="./images/black_avatar.png" alt=""></a>
    </div>
    <div class="image-thumb">
      <a href="./images/list_detail_head_slide_bg.png" class="image-link" data-lightbox="image-1" data-title="My caption">
        <img src="./images/black_avatar.png" alt="">
      </a>
    </div>
    <div class="image-thumb">
      <a href="./images/list_detail_head_slide_bg_1.png" class="image-link" data-lightbox="image-1" data-title="My caption">
        <img src="./images/black_avatar.png" alt=""></a>
    </div>
  </div>

  <a href="#" class="all-photos">All Photos (45)</a>

</div>
<!-- /.photo-gallery-wrapper -->

<div class="neabry-listing-wrapper no-print">
  <div class="neabry-listing-title">Nearby Listing</div>
  <div class="values-rows">
    <div class="value-row">
      <span class="name">Dandelion</span><span class="value">5km</span>
    </div>
    <div class="value-row">
      <span class="name">Jersey</span><span class="value">3km</span>
    </div>

    <div class="value-row">
      <span class="name">Local</span><span class="value">1km</span>
    </div>

    <div class="value-row">
      <span class="name">Homemade</span><span class="value">100m</span>
    </div>

    <div class="value-row">
      <span class="name">Cof</span><span class="value">250m</span>
    </div>

    <div class="value-row">
      <span class="name">Brazilian</span><span class="value">750m</span>
    </div>

    <div class="value-row">
      <span class="name">Nice</span><span class="value">10m</span>
    </div>
  </div>
</div>

<div class="tags-cloud-wrapper no-print">
  <div class="tags-cloud-title">Tags</div>
  <div class="tags-cloud-list">
    <ul>
      <li><a href="#">Daily Specials</a></li>
      <li><a href="#">Daily</a></li>
      <li><a href="#">College in Virginia</a></li>
      <li><a href="#">Specials</a></li>
      <li><a href="#">The standard</a></li>
      <li><a href="#">Finibus Bonorum</a></li>
      <li><a href="#">Cicero reproduced</a></li>
      <li><a href="#">English versionsv</a></li>
    </ul>
  </div>
</div>
