<div class="payment-sidebar">
  <div class="block-title">
    Entire Home / Apt in Moscow
  </div>
  <div class="block-content">

    <div class="value-row">
      <div class="label">Entire Home / Apt in Moscow</div>
      <div class="value">Москва, Москва.</div>
    </div>

    <div class="value-row direction">
      <div class="label">Appertments for 1 Guest</div>
      <div class="value">Tue, Now 07, 2017 <img src="./images/35.png" alt=""> Wed, Now 08, 2017</div>
    </div>

    <div class="value-row night">
      <div class="label">Nights</div>
      <div class="value">2</div>
    </div>


    <div class="value-row documents">
      <div class="document">Cancelation Policy: <a href="#">Flexible</a></div>
      <div class="document">House Rules: <a href="#">Read Policy</a></div>
    </div>

    <div class="coast">
      <div class="value">
        <div class="coast-row">
          $15  x   2 nights <div class="price">$30</div>
        </div>
        <div class="coast-row">
          Service Fee <div class="price">$1</div>
        </div>
        <div class="coast-row total">
          Total <div class="price">$31</div>
        </div>



      </div>
    </div>

    <div class="block-footer">
      <p>You are paying in EUR. Your total change is 42$. The exchange rate for booking is $ 1 to 1$ USD (Your host’s listing currence).</p>
    </div>

  </div>
</div>
