<div class="sidebar-menu nav-notific">
  <ul>
    <li><a href="./users_notifications.html" class="item-nav-notif active">Notifications</a></li>
    <li><a href="./edit_profile.html" class="item-nav-notif">Settings</a></li>
    <li><a href="./payment.html" class="item-nav-notif">Account</a></li>
    <li><a href="./user_provacy.html" class="item-nav-notif">Privacy</a></li>
    <li><a href="#" class="item-nav-notif">Transaction History</a></li>
    <li><a href="#" class="item-nav-notif">Security</a></li>
    <li><a href="#" class="item-nav-notif">Connected Apps</a></li>
    <li><a href="#" class="item-nav-notif">Badges</a></li>
    <li><a href="#" class="item-nav-notif">Travel Credit</a></li>
    <li><a href="#" class="item-nav-notif">Payment Methods</a></li>
    <li><a href="#" class="item-nav-notif">Payout Preferences</a></li>
  </ul>
</div>
