<div class="nav-notific">

  <ul>
    <li><a href="users_notifications.html" class="item-nav-notif active">Notifications</a></li>
    <!--Способ оплаты-->
    <li><a href="#" class="item-nav-notif">Payment Methods</a></li>
    <!--Предпочитаемый метод выплаты-->
    <li><a href="#" class="item-nav-notif">Payout Preferences</a></li>
    <!--История платежей-->
    <li><a href="#" class="item-nav-notif">Transaction History</a></li>
    <!--Конфиденциальность-->
    <li><a href="users_privacy.html" class="item-nav-notif">Privacy</a></li>
    <!--Безопасность-->
    <li><a href="users_security.html" class="item-nav-notif">Security</a></li>
    <!--Связанные приложения-->
    <li><a href="#" class="item-nav-notif">Connected Apps</a></li>
    <!--Настройки-->
    <li><a href="cancel.html" class="item-nav-notif">Settings</a></li>
  </ul>
</div>
