<!-- Modal - Spoken Languages -->

<div class="modal fade" id="add_language_popup" tabindex="-1" role="dialog" aria-labelledby="addLanguageLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Spoken Languages</h4>
      </div>
      <div class="modal-body">

        <div class="panel-body">

          <div class="description">
            <p>What languages can you speak fluently? We have many international travelers who appreciate hosts who can
              speak their language.</p>
          </div>

          <div class="col-sm-6">
            <label>
              <input type="checkbox" value="4096" data-value="Bahasa Indonesia">
              Bahasa Indonesia
            </label>
            <label>
              <input type="checkbox" value="4194304" data-value="Bahasa Malaysia">
              Bahasa Malaysia
            </label>
            <label>
              <input type="checkbox" value="32768" data-value="Bengali">
              Bengali
            </label>
            <label>
              <input type="checkbox" value="16777216" data-value="Dansk">
              Dansk
            </label>
            <label>
              <input type="checkbox" value="4" data-value="Deutsch">
              Deutsch
            </label>
            <label>
              <input type="checkbox" value="1" data-value="English">
              English
            </label>
            <label>
              <input type="checkbox" value="64" data-value="Español">
              Español
            </label>
            <label>
              <input type="checkbox" value="2" data-value="Français">
              Français
            </label>
            <label>
              <input type="checkbox" value="512" data-value="Hindi">
              Hindi
            </label>
            <label>
              <input type="checkbox" value="16" data-value="Italiano">
              Italiano
            </label>
            <label>
              <input type="checkbox" value="536870912" data-value="Magyar">
              Magyar
            </label>
            <label>
              <input type="checkbox" value="8192" data-value="Nederlands">
              Nederlands
            </label>
            <label>
              <input type="checkbox" value="67108864" data-value="Norsk">
              Norsk
            </label>
            <label>
              <input type="checkbox" value="2097152" data-value="Polski">
              Polski
            </label>
            <label>
              <input type="checkbox" value="1024" data-value="Português">
              Português
            </label>
            <label>
              <input type="checkbox" value="131072" data-value="Punjabi">
              Punjabi
            </label>
          </div>
          <div class="col-sm-6">
            <label>
              <input type="checkbox" value="524288" data-value="Sign Language">
              Sign Language
            </label>
            <label>
              <input type="checkbox" value="134217728" data-value="Suomi">
              Suomi
            </label>
            <label>
              <input type="checkbox" value="33554432" data-value="Svenska">
              Svenska
            </label>
            <label>
              <input type="checkbox" value="8388608" data-value="Tagalog">
              Tagalog
            </label>
            <label>
              <input type="checkbox" value="2048" data-value="Türkçe">
              Türkçe
            </label>
            <label>
              <input type="checkbox" value="268435456" data-value="Čeština">
              Čeština
            </label>
            <label>
              <input type="checkbox" value="262144" data-value="Ελληνικά">
              Ελληνικά
            </label>
            <label>
              <input type="checkbox" value="32" data-value="Русский">
              Русский
            </label>
            <label>
              <input type="checkbox" value="1073741824" data-value="українська">
              українська
            </label>
            <label>
              <input type="checkbox" value="1048576" data-value="עברית">
              עברית
            </label>
            <label>
              <input type="checkbox" value="256" data-value="العربية">
              العربية
            </label>
            <label>
              <input type="checkbox" value="65536" data-value="ภาษาไทย">
              ภาษาไทย
            </label>
            <label>
              <input type="checkbox" value="128" data-value="中文">
              中文
            </label>
            <label>
              <input type="checkbox" value="8" data-value="日本語">
              日本語
            </label>
            <label>
              <input type="checkbox" value="16384" data-value="한국어">
              한국어
            </label>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <input class="btn" type="submit" value="Verify">
        <a href="#" class="btn btn-gray" data-dismiss="modal" aria-label="Close" data-modal-close="true">Cancel</a>
      </div>
    </div>
  </div>
</div>
