<!-- Modal login -->
<div class="modal fade" id="add_pricing_options" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <a type="button" class="closes" data-dismiss="modal" aria-hidden="true">&#10006;</a>
        <p class="h4">additional pricing options more</p>
        <div class="row">
          <div class="col-sm-6">
            <div class="options__wrapper">
              <label> 
                <input type="checkbox" value="options1" data-value="options1">
                enter you addititional options more
              </label>
              <label>
                <input type="checkbox" value="options2" data-value="options2">
                enter you addititional options more
              </label>
              <label>
                <input type="checkbox" value="options3" data-value="options3">
                enter you addititional options more
              </label>
              <label> 
                <input type="checkbox" value="options4" data-value="options4">
                enter you addititional options more
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="options__wrapper">
              <label> 
               <input type="checkbox" value="options1" data-value="options1">
               enter you addititional options more
              </label>
              <label>
               <input type="checkbox" value="options2" data-value="options2">
               enter you addititional options more
              </label>
              <label>
               <input type="checkbox" value="options3" data-value="options3">
               enter you addititional options more
              </label>
              <label> 
               <input type="checkbox" value="options4" data-value="options4">
               enter you addititional options more
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
