<!-- Modal - Spoken Languages -->

<div class="modal fade" id="add_additional_services" tabindex="-1" role="dialog" aria-labelledby="addLanguageLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Additional Pricing:</h4>
      </div>
      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-12">
            <label>
              <input type="checkbox" name="mountly_hostel_price_1">
              Mountly Hostel Price <span class="price flr">20$</span>
            </label>
            <label>
              <input type="checkbox" name="mountly_hostel_price_1">
              Mountly Hostel Price <span class="price flr">3$</span>
            </label>

            <label>
              <input type="checkbox" name="mountly_hostel_price_2">
              Mountly Hostel Price <span class="price flr">3$</span>
            </label>

            <label>
              <input type="checkbox" name="mountly_hostel_price_3">
              Mountly Hostel Price <span class="price flr">2$</span>
            </label>

            <label>
              <input type="checkbox" name="mountly_hostel_price_4">
              Mountly Hostel Price <span class="price flr">10$</span>
            </label>

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <input class="btn" type="submit" value="Add Additional Services">
      </div>
    </div>
  </div>
</div>
