<!-- Modal - Spoken Languages -->

<div class="modal fade" id="add_new_payment_method" tabindex="-1" role="dialog" aria-labelledby="addLanguageLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add New Payment Method</h4>
      </div>
      <div class="modal-body">

        <div class="panel-body">

          <div class="description">
            <p>What languages can you speak fluently? We have many international travelers who appreciate hosts who can
              speak their language.</p>
          </div>


            <form action="">

              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-group full-width">
                    <label for="card_number">Card number<span>*</span></label>
                    <input type="text" class="form-control" id="card_number" placeholder="">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-group full-width">
                    <label for="expires_on">Expires on<span>*</span></label>
                    <input type="text" class="form-control" id="expires_on" placeholder="">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-group full-width">
                    <label for="security_code">Security code<span>*</span></label>
                    <input type="text" class="form-control" id="security_code" placeholder="">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-group full-width">
                    <label for="first_name">First name</label>
                    <input type="text" class="form-control" id="first_name" placeholder="">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-group full-width">
                    <label for="last_name">Last name</label>
                    <input type="text" class="form-control" id="last_name" placeholder="">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-group full-width">
                    <label for="postal_code">Postal code</label>
                    <input type="text" class="form-control" id="postal_code" placeholder="">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-group full-width">
                    <label for="country">Country</label>
                    <select name="country_code" class="form-control" id="country_code">
                      <option value="AT" data-override="" selected="selected">Austria</option>
                      <option value="BE" data-override="">Belgium</option>
                      <option value="BG" data-override="">Bulgaria</option>
                      <option value="HR" data-override="">Croatia</option>
                      <option value="CY" data-override="">Cyprus</option>
                      <option value="CZ" data-override="">Czech Republic</option>
                      <option value="DK" data-override="">Denmark</option>
                      <option value="EE" data-override="">Estonia</option>
                      <option value="FI" data-override="">Finland</option>
                      <option value="FR" data-override="">France</option>
                      <option value="DE" data-override="">Germany</option>
                      <option value="GR" data-override="EL">Greece</option>
                      <option value="HU" data-override="">Hungary</option>
                      <option value="IE" data-override="">Ireland</option>
                      <option value="IT" data-override="">Italy</option>
                      <option value="LV" data-override="">Latvia</option>
                      <option value="LT" data-override="">Lithuania</option>
                      <option value="LU" data-override="">Luxembourg</option>
                      <option value="MT" data-override="">Malta</option>
                      <option value="NL" data-override="">Netherlands</option>
                      <option value="PL" data-override="">Poland</option>
                      <option value="PT" data-override="">Portugal</option>
                      <option value="RO" data-override="">Romania</option>
                      <option value="SK" data-override="">Slovakia</option>
                      <option value="SI" data-override="">Slovenia</option>
                      <option value="ES" data-override="">Spain</option>
                      <option value="SE" data-override="">Sweden</option>
                      <option value="GB" data-override="">United Kingdom</option>
                    </select>
                  </div>
                </div>
              </div>

            </form>


        </div>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-gray" data-dismiss="modal" aria-label="Close" data-modal-close="true">Cancel</a>
        <input class="btn" type="submit" value="Add Card">
      </div>
    </div>
  </div>
</div>
