<!-- Modal Registr -->
<div class="modal fade" id="registr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
   <div class="modal-content">
      <div class="modal-body">
       <a type="button" class="closes" data-dismiss="modal" aria-hidden="true">&#10006;</a>
       <p class="h4">REGISTER</p>
       <form id="form" method="POST" action="">
          <label for="firstname">First Name</label>
          <p><input id="firstname" type="text" name="firstname" placeholder="Al"></p>
          <label for="lastname">Last Name</label>
          <p><input id="lastname" type="text" name="lastname" placeholder="FA.."></p>
          <label for="email">E Mail</label>
          <p><input id="email" type="email" name="email" placeholder="al8@gmail.com"></p>
          <label for="password">Password</label>
          <p><input id="password" type="password" name="password" placeholder="***********"></p>
          <label for="confirm">Confirm Password</label>
          <p><input id="confirm" type="password" name="confirm" placeholder="***********"></p>
          <p><input id="button" type="submit" value="REGISTER NOW"></p>
       </form>
       </div>
     </div>
  </div>
</div>
<!-- <div id="myModalBox" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
           <button type="button" class="closes" data-dismiss="modal" aria-hidden="true">&#10006;</button>
      <p class="h4">REGISTER</p>
      <form id="form" method="POST" action="javascript:void(null);">
             <label for="firstname">First Name</label>
             <p><input id="firstname" type="text" name="firstname"></p>
           <label for="lastname">Last Name</label>
             <p><input id="lastname" type="text" name="lastname"></p>
           <label for="email">E Mail</label>
             <p><input id="email" type="email" name="email"></p>
           <label for="password">Password</label>
             <p><input id="password" type="password" name="password"></p>
           <label for="confirm">Confirm Password</label>
             <p><input id="confirm" type="password" name="confirm"></p>
           <p><input id="button" type="submit" value="REGISTER NOW"></p>
      </form>
      </div>
    </div>
  </div>
</div> -->