<!-- Modal login -->
<div class="modal fade" id="login__popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
          <a type="button" class="closes" data-dismiss="modal" aria-hidden="true">&#10006;</a>
          <p class="h4">LOGIN</p>
          <form id="form" method="POST">
              <label for="username">Username or email address</label>
              <p><input id="username" type="text" name="username" placeholder="Al"></p>
              <label for="pass">Password</label>
               <p><input id="pass" type="password" name="pass" placeholder="********"></p>
             <div class="log">
             <!--  <div class="outline__chek">
               <div class="inline__chek"></div>
             </div> -->
              <input type="checkbox" value="1" class="checkbox" id="remember">
              <label for="remember">Remember me</label>
             </div>
             <div class="lost__password">
               <a href="#">Lost your password</a>
             </div>
             <p><input id="button" type="submit" value="LOGIN"></p>
          </form>
          <div class="line">
            <div class="hr"><hr></div>
            <div class="or">Or</div>
            <div class="hr"><hr></div>
          </div>
          <div class="fixto">
           <a href="#" class="button facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook Connect</a>
           <a href="#" class="button twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter Connect</a>
         </div>
      </div>
    </div>
  </div>
</div>
